{% extends 'layout.html' %}
{% block content %}
<div class="content-section mx-2">
  <!-- Carousel recepciones por mes -->
  <legend class="border-bottom mb-3">Recepción de información <a class="simple-link push-right pe-1" href="{{ url_for('descargas.descargar_sd_recepcion', equipo=equipo.id) }}"><i class="fa-solid fa-file-excel"></i></a></legend>
  <div id="carouselRecepcion" class="carousel slide mb-5" data-bs-interval="false">
    <div class="carousel-inner px-5">
      <!-- Crear elementos solo de los periodos que hay recepción -->
      {% for periodo, datos in recepciones.items() %}
        {% if datos %}
        <div class="carousel-item">
          <div class="content-section">
            <h3>{{ periodo }}</h3>
            <div  class="overflow-auto" style="height: 500px;">
              <table class="table table-striped table-hover table-wrap-link">
                <thead class="table-dark">
                  <th scope="col" style="width:35px;">#</th>
                  <th scope="col" style="width:140px;">Institución</th>
                  <th scope="col">Nombre entrega</th>
                  <th scope="col">Nombre archivo</th>
                </thead>
                <tbody>
                  {% for recepcion in datos %}
                    <tr>
                      <th>{{ loop.index }}</th>
                      <td>{{ recepcion.institucion }}</td>
                      <td>{{ recepcion.nombre }}</td>
                      <td>{{ recepcion.archivo }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <a class="carousel-control-prev carousel-control-width" href="#carouselRecepcion" role="button" data-bs-slide="prev">
      <i class="fa-solid fa-angle-left"></i>
    </a>
    <a class="carousel-control-next carousel-control-width" href="#carouselRecepcion" role="button" data-bs-slide="next">
      <i class="fa-solid fa-angle-right"></i>
    </a>
  </div>

  <!-- Tabla convenios asignados -->
  <legend class="border-bottom mb-3">Convenios asignados a {{ equipo.sigla }}
    {% if convenios_asignados %}
      <a class="simple-link push-right pe-1" href="{{ url_for('descargas.descargar_sd_asignados', equipo=equipo.id) }}"><i class="fa-solid fa-file-excel"></i></a>
    {% endif %}
  </legend>
  {% if convenios_asignados %}
    <table class="table table-striped table-hover mb-5">
    <thead class='table-dark'>
      <th scope='col'>#</th>
      <th scope='col'>Nombre convenio</th>
      <th class="text-center" scope='col'>Días en área</th>
      <th scope='col'>Etapa actual</th>
    </thead>
    <tbody>
      {% for convenio in convenios_asignados %}
        <tr>
          <th> {{ loop.index }}</th>
          <td><a class="simple-link" href="{{ url_for('informes.detalle_convenio_en_proceso', id_convenio=convenio.id) }}">{{ convenio.nombre }} <i class="fas fa-search btn-sm"></a></td>
          <td class='text-center'>{{ convenio.dias_area }}</td>
          <td>{{ convenio.etapa }}</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
  {% else %}
    <p class="mb-5">No hay convenios asignados a {{ equipo.sigla }} actualmente.</p>
  {% endif %}
  <!-- Tabla estado actual convenios asociados a SD -->
  <legend class="border-bottom mb-3">Estado actual convenios de {{ equipo.sigla }} <a class="simple-link push-right pe-1" href="{{ url_for('descargas.descargar_sd_actual', equipo=equipo.id) }}"><i class="fa-solid fa-file-excel"></i></a></legend>
  <div  class="mb-5 overflow-auto" style="height: 700px;">
    <div id='tablaEstadoActual'></div>
  </div>
</div>

<!-- Activar primer carousel -->
<script>
    var carousel = $('.carousel-item') [0]
    carousel.classList.add('active');
</script>

<!-- Tabla estado actual de convenios -->
<script type="text/javascript">
  google.charts.load('current', {'packages': ['table']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var dataTablaEstadoActual = new google.visualization.DataTable();
    dataTablaEstadoActual.addColumn('string', 'Convenio');
    dataTablaEstadoActual.addColumn('string', 'Estado');
    dataTablaEstadoActual.addColumn('string', 'Última observación');
    dataTablaEstadoActual.addColumn('string', 'Coordinador');
    dataTablaEstadoActual.addColumn('string', 'Ver res.');

    var listado_convenios = {{ tabla_convenios_asociados | tojson }}

    dataTablaEstadoActual.addRows(listado_convenios);
    dataTablaEstadoActual.setProperty(0, 0, 'style', 'width: 310px');
    optionsTablaEstadoActual = {
      allowHtml: true,
      width: '100%'
    };
    var tablaEstadoActual = new google.visualization.Table(document.getElementById('tablaEstadoActual'));
    tablaEstadoActual.draw(dataTablaEstadoActual, optionsTablaEstadoActual);
    }
</script>

{% endblock content %}
