{% extends 'layout.html' %}
{% block content %}
<div class="" align='center'>
  <div class="contet-section mx-5 mt-3 w-50" >
    <form class="" method="POST" novalidate>
      {{ form.hidden_tag() }}
      {{ form.csrf_token }}
      <fieldset class='form-group mb-4'>
          <legend class="border-bottom mb-4">Ingresar al Sistema de Convenios</legend>
          <!-- Usuario -->
          <div class="form-group mb-3" align='left'>
            {{ form.user.label(class='form-control-label mb-1') }}
            {% if form.user.errors %}
              {{ form.user(class='form-control form-control-lg is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form.user.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.user(class='form-control form-control-lg') }}
            {% endif %}
          </div>
          <!-- Contraseña -->
          <div class="form-group mb-3" align='left'>
            {{ form.password.label(class='form-control-label mb-1') }}
            {% if form.password.errors %}
              {{ form.password(class='form-control form-control-lg is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form.password.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.password(class='form-control form-control-lg') }}
            {% endif %}
          </div>
          <div class="form-check" align='left'>
            {{ form.remember(class='form-check-input') }}
            {{ form.remember.label(class='form-check-label') }}🎵
          </div>
      </fieldset>
      <!-- Submit -->
      <div class="form-group" align='right'>
        {{ form.submit(class='btn btn-outline-primary') }}
      </div>
    </form>
  </div>
  <div class="border-top mt-3 w-75" >
    <small class="text-muted">
      Si necesitas una cuenta ponte en contacto con AIET.
    </small>
  </div>
</div>
{% endblock content %}
