{% extends 'layout.html' %}
{% block content %}
{{ JSGlue.include() }}
<script src='{{ url_for("static", filename="script.js") }}'></script>
<script type="text/javascript">
  changeActive('#instituciones')
</script>

<div class="content-section mx-4">
  <!-- Select Instituciones -->
  <select autofocus class="form-control form-control-lg form-select mb-5" id="institucion" name="institucion">
    {% for institucion in instituciones %}
      <option value="{{ institucion[0] }}">{{ institucion[1] }}</option>
    {% endfor %}
  </select>

  <!-- Formulario Nueva institución -->
  <form id="formNuevo" method="POST" novalidate>
    {{ form_institucion.hidden_tag() }}
    {{ form_institucion.id_institucion() }}
    <fieldset>
      <div class="row form-group mb-3">
        <!-- Legenda -->
        <div class="col-lg-8">
          <legend>
            Agregar nueva institución
          </legend>
        </div>
        <!-- Botón eliminar institución
        <div class="col-lg-4">
          <a id="btn-eliminar" class="eliminar-btn float-end" href="#" style='display: none'>
            <i class="fas fa-trash-alt"></i>
          </a>
        </div> -->
        <!-- Mostrar error si se intenta modificar un ministerio -->
        {% if form_institucion.id_institucion.errors %}
          {{ form_institucion.id_institucion(class='form-control form-control-lg is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form_institucion.id_institucion.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>



      <!-- Nombre -->
      <div class="form-group mb-3">
        {{ form_institucion.nombre.label(class='form-control-label mb-1') }}
        {% if form_institucion.nombre.errors %}
          {{ form_institucion.nombre(class='form-control form-control-lg is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form_institucion.nombre.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form_institucion.nombre(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="row form-group mb-3">
        <!-- Sigla -->
        <div class="col-lg-4">
          {{ form_institucion.sigla.label(class='form-control-label mb-1') }}
          {% if form_institucion.sigla.errors %}
            {{ form_institucion.sigla(class='form-control form-control-lg is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form_institucion.sigla.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form_institucion.sigla(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <!-- Rut -->
        <div class="col-lg-4">
          {{ form_institucion.rut.label(class='form-control-label mb-1') }}
          {% if form_institucion.rut.errors %}
            {{ form_institucion.rut(class='form-control form-control-lg is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form_institucion.rut.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form_institucion.rut(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <!-- Tipo -->
        <div class="col-lg-4">
          {{ form_institucion.tipo.label(class='form-control-label mb-1') }}
          {% if form_institucion.tipo.errors %}
            {{ form_institucion.tipo(class='form-control form-control-lg form-select is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form_institucion.tipo.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form_institucion.tipo(class="form-control form-control-lg form-select") }}
          {% endif %}
        </div>
      </div>
      <!-- Dirección -->
      <div class="form-group mb-3">
        {{ form_institucion.direccion.label(class='form-control-label mb-1') }}
        {% if form_institucion.direccion.errors %}
          {{ form_institucion.direccion(class='form-control form-control-lg is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form_institucion.direccion.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form_institucion.direccion(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <!-- Ministerio -->
      <div class="form-group mb-4">
        {{ form_institucion.ministerio.label(class='form-control-label mb-1') }}
        {% if form_institucion.ministerio.errors %}
          {{ form_institucion.ministerio(class='form-control form-control-lg form-select is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form_institucion.ministerio.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form_institucion.ministerio(class="form-control form-control-lg form-select") }}
        {% endif %}
      </div>
      </fieldset>
      {{ form_institucion.submit(class="btn btn-outline-primary float-end mb-5") }}
  </form>
</div>


<script type="text/javascript">
  // Cuando se hace click en el select field
  var selection = document.querySelector("#institucion");
  selection.addEventListener("change", function(e) {
    // Si no se selecciona ninguna mostrar formulario nueva institución
    if (selection.value == 0) {
      document.querySelector('legend').innerHTML = "Agregar nueva institución";
      document.querySelector('#submit').value = "Agregar";
      // document.querySelector('#btn-eliminar').style.display = 'none';

      document.querySelector('#id_institucion').value = 0;
      document.querySelector("#nombre").value = "";
      document.querySelector('#sigla').value = "";
      document.querySelector('#rut').value = "";
      document.querySelector('#tipo').value = "Seleccionar";
      document.querySelector('#direccion').value = "";
      document.querySelector('#ministerio').value = 0;
  }
    // Si se selecciona, obtener info y mostrar formulario editar precargado
    else {
      fetch(Flask.url_for('main.obtener_institucion', {'id': selection.value}))
      .then(response => response.json())
      .then(data => {
        document.querySelector('#id_institucion').value = data.id
        document.querySelector("#nombre").value = data.nombre;
        document.querySelector('#sigla').value = data.sigla;
        document.querySelector('#rut').value = data.rut;
        document.querySelector('#tipo').value = data.tipo;
        document.querySelector('#direccion').value = data.direccion;
        document.querySelector('#ministerio').value = data.ministerio;


        // Mostrar botón de eliminar y cambiar textos
        document.querySelector('legend').innerHTML = "Editar institución";
        document.querySelector('#submit').value = "Actualizar";
        // document.querySelector('#btn-eliminar').style.display = 'block';
        // document.querySelector('#btn-eliminar').href = Flask.url_for('main.eliminar_institucion', {'id_institucion': selection.value});
    })}});

</script>
{% endblock content %}
