{% extends 'layout.html' %}
{% block content %}
{{ JSGlue.include() }}
<script src='{{ url_for("static", filename="script.js") }}'></script>
<script type="text/javascript">
  changeActive('#conveniosProduccion')
</script>

<!-- Select Convenio -->
<div class="content-section mx-2">
  <select autofocus class="form-control form-control-lg form-select mb-5" id="convenio">
    {% for convenio in convenios_select %}
      <option value="{{ convenio[0] }}">{{ convenio[1] }}</option>
    {% endfor %}
  </select>
  <!-- Información general del convenio -->
  <legend class="border-bottom mb-2">Informacion del convenio</legend>
  <div class="row">
    <!-- Fecha firma y resolución -->
    <div class="col-lg-3">
      <p><strong>Firmado:</strong><br>{{ informacion_convenio.fecha_firma }}</p>
      {% if informacion_convenio.fecha_resolucion == 'Sin resolución' %}
        <p><strong>Publicado:</strong><br> Sin resolución</p>
      {% else %}
        <p><strong>Publicado:</strong><br> Res. N°{{ informacion_convenio.nro_resolucion }} del {{ informacion_convenio.fecha_resolucion }}</p>
        <p><a target="_blank" style='color: #000; text-decoration: none;' href="{{ informacion_convenio.link_resolucion }}">Ver resolución <i class="fas fa-eye ps-0 pe-1 btn-sm"></i></a></p>
      {% endif %}

    </div>
    <!-- Subdirecciones involucradas -->
    <div class="col-lg-4">
      <p><strong>Subdirecciones de negocio:</strong></p>
      <div class="row">
        <div class="col-lg-4">
          <ul style='list-style: none; padding:0;'>
            {% for i in range(0, informacion_convenio.sd_techo) %}
              <li>{{ informacion_convenio.subdirecciones[i] }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-lg-4">
          <ul style='list-style: none; padding:0;'>
            {% for i in range(informacion_convenio.sd_techo, informacion_convenio.sd_total) %}
              <li>{{ informacion_convenio.subdirecciones[i] }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <!-- Coordinador, suplente, gabniete y proyecto -->
    <div class="col-lg-3">
      <p><strong>Coordinador:</strong><br>{{ informacion_convenio.coord_sii }}</p>
      <p><strong>Suplente:</strong><br>{{ informacion_convenio.sup_sii }}</p>
      <p><strong>N° de GE/Proyecto:</strong><br>{{ informacion_convenio.gabinete }}/{{ informacion_convenio.proyecto }}</p>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-lg-12">
      <!-- Agrega convenio padre si es adendum -->
      {% if informacion_convenio.convenio_padre %}
        <p><strong>Convenio al cual pertenece el adendum:</strong>
          <br><a style='color: #000; text-decoration: none;'
          href="{{ url_for('informes.detalle_convenio_en_produccion', id_convenio=informacion_convenio.convenio_padre.id_convenio_padre) }}">
          {{ informacion_convenio.convenio_padre.nombre_convenio_padre }}<i class="fas fa-search btn-sm"></i></a></p>
      {% endif%}

      <!-- Agregar adendum si existe -->
      {% if informacion_convenio.adendum %}
        <p><strong>Adendum de este convenio:</strong>
          {% for adendum in informacion_convenio.adendum %}
            <br>
            {% if adendum.estado_adendum == 'En producción'%}
              <a style='color: #000; text-decoration: none;' href="{{ url_for('informes.detalle_convenio_en_produccion', id_convenio=adendum.id_adendum) }}">{{ adendum.nombre_adendum }} <i class="fas fa-search btn-sm"></i></a>
            {% elif adendum.estado_adendum == 'En proceso' %}
              <a style='color: #000; text-decoration: none;' href='{{ url_for("informes.detalle_convenio_en_proceso", id_convenio=adendum.id_adendum)}}'>{{ adendum.nombre_adendum }} (En proceso) <i class="fas fa-search btn-sm"></i></a>
            {% endif %}
          {% endfor %}
      {% endif %}
    </div>
  </div>

  <!-- Información a Intercambiar -->
  <legend class="border-bottom mb-3">Información a intercambiar</legend>
  {% if recepciones or ws_asignados %}
    {% if recepciones %}
      <div class="mb-4">
        <h5>Recepción de información</h5>
        <table class='table'>
          <thead>
            <tr>
              <th scope='col'>#</th>
              <th scope='col'>Nombre</th>
              <th scope='col'>Archivo</th>
              <th scope='col'>Periodicidad</th>
              <th scope='col'>Subdirección</th>
              <th scope='col'>Estado</th>
            </tr>
          </thead>
          <tbody>
            {% for recepcion in recepciones %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ recepcion.nombre }}</td>
                <td>{{ recepcion.archivo }}</td>
                <td>{{ recepcion.periodicidad }}</td>
                <td>{{ recepcion.sd }}</td>
                <td>{{ recepcion.estado }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
    {% if ws_asignados %}
      <div class="mb-5">
        <h5>Web Services</h5>
        <table class="table">
          <thead>
            <tr>
              <th scope='col'>#</th>
              <th scope='col'>Nombre AIET</th>
              <th scope='col'>Nombre SDI</th>
              <th scope='col'>Método</th>
              <th scope='col'>Estado</th>
            </tr>
          </thead>
          <tbody>
            {% for ws in ws_asignados %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ ws.nombre_aiet }}</td>
              <td>{{ ws.nombre_sdi }}</td>
              <td>{{ ws.metodo }}</td>
              <td> {{ ws.estado }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  {% else %}
    <div class="mb-5">
      Sin intercambio de información.
    </div>
  {% endif %}
  <!-- Estadísticas e indicadores del proceso -->
  <legend class="border-bottom mb-4">Estadísticas del proceso</legend>
  <!-- Información de días -->
  <div class="row mb-3" align='center'>
    <!-- Días en proceso -->
    <p class="mb-1"><strong>Días en proceso</strong></p>
    <h2><i class="fas fa-stopwatch fa-lg"></i> {{ dias_proceso }}</h2>
  </div>

  <div class="row mb-1">
    <!-- Días por etapa -->
    <div class="col-lg-6">
      <div id="chartDiasEtapas"></div>
    </div>
    <!-- Días por equipo -->
    <div class="col-lg-6">
      <div id="chartDiasEquipos"></div>
    </div>
  </div>

  <!-- Tareas por área y tiempo de respuesta -->
  <div class="row">
     <div id="chartTareas"></div>
  </div>

  <!-- Trayectoria de etapas y equipos -->
  <legend class="border-bottom mb-5">Trayectoria  <button id='timelineOriginal' style='border: none; background-color: transparent'><i class="fas fa-eraser"></i></button></legend>
  <div class="">
    <div id="timelineEtapas" style="height: 100px;"></div>
    <div id="timelineEquipos"></div>

  </div>

  <!-- Bitácora del convenio -->
  <legend class="border-bottom mb-4">Bitácora</legend>
  <div class="mb-5 overflow-auto" style="height: 400px;">
    <div class='' id="bitacora"></div>
  </div>

  <!-- Hitos del proceso -->
  {% if hitos %}
    <legend class="border-bottom mb-4">Hitos del proceso</legend>
    <div class="content-section mb-5">
      <table class='table'>
        <thead>
          <tr>
            <th scope='col'>#</th>
            <th scope="col">Hito</th>
            <th class="text-center" scope="col">Fecha</th>
            <th class='text-center' scope="col">Minuta</th>
            <th class="text-center" scope="col">Grabación</th>
          </tr>
        </thead>
        <tbody>
          {%  for hito in hitos %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ hito.nombre }}</td>
              <td class="text-center">{{ hito.fecha }}</td>
              <td class="text-center">
                {% if hito.minuta %}
                  <a target="_blank" style="text-decoration: none; color: #000;" href="{{ hito.minuta }}"><i class="fa-solid fa-link"></i></a>
                {% else %}
                  <i class="fa-solid fa-link-slash gray"></i>
                {% endif %}
              </td>
              <td class="text-center">
                {% if hito.grabacion %}
                  <a target="_blank" style="text-decoration: none; color: #000;" href="{{ hito.grabacion }}"><i class="fa-solid fa-video"></i></a>
                {% else %}
                  <i class="fa-solid fa-video-slash gray"></i>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

</div>


<!-- Estadíticas -->
<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        // Días por Etapas
        // Tabla de datos según selección
        var dataEtapasTotal = google.visualization.arrayToDataTable({{ dias_etapas.total | tojson }});
        var dataEtapasDefinicion = google.visualization.arrayToDataTable({{ dias_etapas.definicion | tojson }});
        var dataEtapasConfeccion = google.visualization.arrayToDataTable({{ dias_etapas.confeccion | tojson }});
        var dataEtapasFirmas = google.visualization.arrayToDataTable({{ dias_etapas.firmas | tojson }});
        var dataEtapasResolucion = google.visualization.arrayToDataTable({{ dias_etapas.resolucion | tojson }});
        var optionsEtapas = {
          title: 'Días por etapa',
          pieHole: 0.5,
          width: 500,
          height: 400,
          chartArea: {left: 10, width: '80%'},
          legend: {position: 'right', textStyle: {color: 'black', fontSize: 12}},
          titleTextStyle:{fontSize:16},
          slices: {
            0: {color: '#DFF6FF', textStyle:{color: '#051367'}, offset: 0.01},
            1: {color: '#5D8BF4', offset: 0.01},
            2: {color: '#2D31FA', offset: 0.01},
            3: {color: '#051367', offset: 0.01}
          },
        }

        // Crear gráfico Días por etapa Total
        var chartDiasEtapas = new google.visualization.PieChart(document.getElementById('chartDiasEtapas'));
        chartDiasEtapas.draw(dataEtapasTotal, optionsEtapas);


        // Días por Equipo
        // Tabla de datos según selección
        datosEquipos = [{{ dias_equipos.total | tojson }},
                        {{ dias_equipos.definicion | tojson }},
                        {{ dias_equipos.confeccion | tojson }},
                        {{ dias_equipos.firmas | tojson }},
                        {{ dias_equipos.resolucion | tojson }}
                        ];
        datosEquipos.forEach((item, i) => {
          item[0].push({role: 'style'});
        });

        var dataEquiposTotal = google.visualization.arrayToDataTable(datosEquipos[0]);
        var dataEquiposDefinicion = google.visualization.arrayToDataTable(datosEquipos[1]);
        var dataEquiposConfeccion = google.visualization.arrayToDataTable(datosEquipos[2]);
        var dataEquiposFirmas = google.visualization.arrayToDataTable(datosEquipos[3]);
        var dataEquiposResolucion = google.visualization.arrayToDataTable(datosEquipos[4]);
        var optionsEquipos = {
          title: 'Días promedio por área',
          width: 480,
          height: 400,
          chartArea: {left: 100, width: '100%'},
          legend: {position: 'right', textStyle: {color: 'black', fontSize: 12}},
          titleTextStyle:{fontSize:16},
        };

        var chartDiasEquipos = new google.visualization.BarChart(document.getElementById('chartDiasEquipos'));
        chartDiasEquipos.draw(dataEquiposTotal, optionsEquipos);


        // Tareas por área y tiempo de respuesta
        var dataTareasTotal = google.visualization.arrayToDataTable({{ tareas_equipos.total.datos | tojson}});
        var dataTareasDefinicion = google.visualization.arrayToDataTable({{ tareas_equipos.definicion.datos | tojson }});
        var dataTareasConfeccion = google.visualization.arrayToDataTable({{ tareas_equipos.confeccion.datos | tojson}});
        var dataTareasFirmas = google.visualization.arrayToDataTable({{ tareas_equipos.firmas.datos | tojson }});
        var dataTareasResolucion = google.visualization.arrayToDataTable({{ tareas_equipos.resolucion.datos | tojson }});
        var optionsTareas = {
          title : 'Tareas por área vs tiempo de respuesta promedio',
          seriesType: 'bars',
          series: {},
          isStacked: true,
          legend: { position: 'none'},
          height: 400,
          chartArea: {width: '90%'},
        };
        var series_col_index = dataTareasTotal.getNumberOfColumns() - 2;
        optionsTareas.series[series_col_index] = {type: 'line', pointSize: 6, color:'#2D312A' };
        optionsTareas.colors = {{ tareas_equipos.total.colores | tojson }}

        var chartTareas = new google.visualization.ComboChart(document.getElementById('chartTareas'));
        chartTareas.draw(dataTareasTotal, optionsTareas);

        // Filtro
        google.visualization.events.addListener(chartDiasEtapas, 'select', selectHandler);
        function selectHandler(e){
          var selection = chartDiasEtapas.getSelection()

          // Identificar filtro
          if (selection ==  '') {
            // Volver a los gráficos originales
            chartDiasEtapas.draw(dataEtapasTotal, optionsEtapas);
            chartDiasEquipos.draw(dataEquiposTotal, optionsEquipos);

            var series_col_index = dataTareasTotal.getNumberOfColumns() - 2;
            optionsTareas.series = {};
            optionsTareas.series[series_col_index] = {type: 'line', pointSize: 6, color:'#2D312A' };
            optionsTareas.colors = {{ tareas_equipos.total.colores | tojson }}
            chartTareas.draw(dataTareasTotal, optionsTareas);

          }
          else {
            var item = selection[0];
            // Filtrar gráficos por Definición
            if (dataEtapasTotal.getValue(item.row, 0) == 'Definición de Alcance del Convenio' ) {
              chartDiasEtapas.draw(dataEtapasDefinicion, optionsEtapas);
              chartDiasEtapas.setSelection([{row: 0}]);
              chartDiasEquipos.draw(dataEquiposDefinicion, optionsEquipos);

              var series_col_index = dataTareasDefinicion.getNumberOfColumns() - 2;
              optionsTareas.series = {};
              optionsTareas.series[series_col_index] = {type: 'line', pointSize: 6, color:'#2D312A' };
              optionsTareas.colors = {{ tareas_equipos.definicion.colores | tojson }}
              chartTareas.draw(dataTareasDefinicion, optionsTareas);
            }
            // Filtrar gráficos por Confección
            else if (dataEtapasTotal.getValue(item.row, 0) == 'Confección de Documento de Convenio') {
              chartDiasEtapas.draw(dataEtapasConfeccion, optionsEtapas);
              chartDiasEtapas.setSelection([{row: 1}]);
              chartDiasEquipos.draw(dataEquiposConfeccion, optionsEquipos);


              var series_col_index = dataTareasConfeccion.getNumberOfColumns() - 2;
              optionsTareas.series = {};
              optionsTareas.series[series_col_index] = {type: 'line', pointSize: 6, color:'#2D312A' };
              optionsTareas.colors = {{ tareas_equipos.confeccion.colores | tojson }}
              chartTareas.draw(dataTareasConfeccion, optionsTareas);
            }
            // Filtrar gráficos por Firmas
            else if (dataEtapasTotal.getValue(item.row, 0) == 'Gestión de Visto Bueno y Firmas') {
              chartDiasEtapas.draw(dataEtapasFirmas, optionsEtapas);
              chartDiasEtapas.setSelection([{row: 2}]);
              chartDiasEquipos.draw(dataEquiposFirmas, optionsEquipos);

              var series_col_index = dataTareasFirmas.getNumberOfColumns() - 2;
              optionsTareas.series = {};
              optionsTareas.series[series_col_index] = {type: 'line', pointSize: 6, color:'#2D312A' };
              optionsTareas.colors = {{ tareas_equipos.firmas.colores | tojson }}
              chartTareas.draw(dataTareasFirmas, optionsTareas);
            }
            // Filtrar gráficos por Resolución
            else if (dataEtapasTotal.getValue(item.row, 0) == 'Generación de Resolución y Protocolo Técnico') {
              chartDiasEtapas.draw(dataEtapasResolucion, optionsEtapas);
              chartDiasEtapas.setSelection([{row: 3}]);
              chartDiasEquipos.draw(dataEquiposResolucion, optionsEquipos);

              var series_col_index = dataTareasResolucion.getNumberOfColumns() - 2;
              optionsTareas.series = {};
              optionsTareas.series[series_col_index] = {type: 'line', pointSize: 6, color:'#2D312A' };
              optionsTareas.colors = {{ tareas_equipos.resolucion.colores | tojson }}
              chartTareas.draw(dataTareasResolucion, optionsTareas);
            }
          }
        }

      }
    </script>

<!-- Trayectoria-->
<script type="text/javascript">
  google.charts.load("current", {packages:["timeline"]});
  google.charts.load('current', {'packages':['table']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      // Etapas
      var timelineEtapas = new google.visualization.Timeline(document.getElementById('timelineEtapas'));
      var dataTimelineEtapas = new google.visualization.DataTable();
      dataTimelineEtapas.addColumn({ type: 'string', id: 'Position' });
      dataTimelineEtapas.addColumn({ type: 'string', id: 'Name' });
      //dataTimelineEtapas.addColumn({type: 'string', role: 'tooltip'});
      dataTimelineEtapas.addColumn({ type: 'date', id: 'Start' });
      dataTimelineEtapas.addColumn({ type: 'date', id: 'End' });

      var trayectoriaEtapas = {{ trayectoria_etapas | tojson }}
      var dataTrayectoriaEtapas = [];
      var coloresEtapas = [];

      trayectoriaEtapas.forEach((trayecto, i) => {
        dataTrayectoriaEtapas.push(['Etapa',
        trayecto.etapa,
        new Date(trayecto.ingreso_año, trayecto.ingreso_mes, trayecto.ingreso_dia),
        new Date(trayecto.salida_año, trayecto.salida_mes, trayecto.salida_dia)
        ]);
        coloresEtapas.push(trayecto.color);
      });
      dataTimelineEtapas.addRows(dataTrayectoriaEtapas);

      var optionsTimelineEtapas = {
        colors: coloresEtapas,
       };

      timelineEtapas.draw(dataTimelineEtapas, optionsTimelineEtapas);

      // Equipos
      var containerEquipos = document.getElementById('timelineEquipos');
      var timelineEquipos = new google.visualization.Timeline(containerEquipos);

      // Tabla de datos según selección
      var dataTimelineEquiposTotal = new google.visualization.DataTable();
      dataTimelineEquiposTotal.addColumn({ type: 'string', id: 'Position' });
      dataTimelineEquiposTotal.addColumn({ type: 'string', id: 'Name' });
      //dataTimelineEquiposTotal.addColumn({type: 'string', role: 'tooltip'});
      dataTimelineEquiposTotal.addColumn({ type: 'date', id: 'Start' });
      dataTimelineEquiposTotal.addColumn({ type: 'date', id: 'End' });

      var trayectoriaEquiposTotal = {{ trayectoria_equipos.total.datos | tojson }}
      var dataTrayectoriaEquiposTotal = [];
      var coloresEquiposTotal = {{ trayectoria_equipos.total.colores | tojson }}

      trayectoriaEquiposTotal.forEach((trayecto, i) => {
        dataTrayectoriaEquiposTotal.push([
          trayecto.equipo,
          "",
          new Date(trayecto.ingreso_año, trayecto.ingreso_mes, trayecto.ingreso_dia),
          new Date(trayecto.salida_año, trayecto.salida_mes, trayecto.salida_dia)
        ]);
      });
      dataTimelineEquiposTotal.addRows(dataTrayectoriaEquiposTotal);



      dataTimelineEquipos = [];
      var coloresExE = [];
      var trayectoriaEquiposPorEtapa = {{ trayectoria_equipos.etapas | tojson }} || [];
      trayectoriaEquiposPorEtapa.forEach((etapa, i) => {
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn({ type: 'string', id: 'Position' });
        dataTable.addColumn({ type: 'string', id: 'Name' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });

        coloresExE.push(etapa.colores);
        var dataTrayectoriaExE = [];

        etapa.datos.forEach((trayecto, i) => {
          dataTrayectoriaExE.push([
          trayecto.equipo,
          "",
          new Date(trayecto.ingreso_año, trayecto.ingreso_mes, trayecto.ingreso_dia),
          new Date(trayecto.salida_año, trayecto.salida_mes, trayecto.salida_dia)
          ]);
        });
        dataTable.addRows(dataTrayectoriaExE);
        dataTimelineEquipos.push(dataTable);
      });


  var optionsTimelineEquipos = {
     timeline: { colorByRowLabel: true },
     colors: coloresEquiposTotal
  };

  // Altura del div de acuerdo con el número de equipos
  var altura = (coloresEquiposTotal.length + 1) * 50;
  $('#timelineEquipos').height(altura);

  timelineEquipos.draw(dataTimelineEquiposTotal, optionsTimelineEquipos);

  // Tabla Bitácora
  var dataTablaBitacora = new google.visualization.DataTable();
  dataTablaBitacora.addColumn('date', 'Fecha');
  dataTablaBitacora.addColumn('string', 'Observación');

  var bitacora = {{ bitacora | tojson }}
  var dataBitacora = [];

  bitacora.forEach((registro, i) => {
    dataBitacora.push([new Date(registro.año, registro.mes, registro.dia), registro.observacion]);
  });
  dataTablaBitacora.addRows(dataBitacora);

  dataTablaBitacora.setProperty(0, 0, 'style', 'width: 120px');
  optionsTablaBitacora = {
    width: '100%',
    height: '100%',
    allowHtml: true,
  }
  var tablaBitacora = new google.visualization.Table(document.getElementById('bitacora'));

  tablaBitacora.draw(dataTablaBitacora, optionsTablaBitacora);


  // Filtro
  // Para volver al originales
  timelineOriginal.onclick = () => {
    timelineEtapas.draw(dataTimelineEtapas, optionsTimelineEtapas);
    var altura = (coloresEquiposTotal.length + 1) * 50;
    $('#timelineEquipos').height(altura);
    optionsTimelineEquipos.colors = coloresEquiposTotal;
    timelineEquipos.draw(dataTimelineEquiposTotal, optionsTimelineEquipos);
    tablaBitacora.draw(dataTablaBitacora, optionsTablaBitacora);
  }

  // Para filtrar etapas
  google.visualization.events.addListener(timelineEtapas, 'select', selectEtapa);
  function selectEtapa(e){
    var selection = timelineEtapas.getSelection();
    var altura = (coloresExE[selection[0].row].length + 1) * 50;
    $('#timelineEquipos').height(altura);
    optionsTimelineEquipos.colors = coloresExE[selection[0].row];
    timelineEquipos.draw(dataTimelineEquipos[selection[0].row], optionsTimelineEquipos);
    timelineEquipos.setSelection([]);

    // Filtar la bitácora
    var inicio_etapa = dataTimelineEtapas.getValue(selection[0].row, 2);
    var fin_etapa = dataTimelineEtapas.getValue(selection[0].row, 3)
    var tl = dataTablaBitacora.getFilteredRows([{
      column: 0,
      test: function (value) {
        return (value >= inicio_etapa && value <= fin_etapa);
      }
    }]);

    var myView = new google.visualization.DataView(dataTablaBitacora);
    myView.setRows(tl);
    var filteredDataTablaBitacora = myView.toDataTable();
    filteredDataTablaBitacora.setProperty(0, 0, 'style', 'width: 120px');
    tablaBitacora.draw(filteredDataTablaBitacora, optionsTablaBitacora);
    }
}




</script>

<script type="text/javascript">

  document.addEventListener('DOMContentLoaded', function() {
    // Marcar convenio en el select
    convenio.value = {{ id_convenio }}
  });

  // Ir a la página cuando se cambie el select
  const convenio = document.querySelector('#convenio');
  convenio.addEventListener('change', function() {
    // Ir al resumen de convenios en produción
    if (convenio.value == 0) {
      window.location.replace(Flask.url_for('informes.convenios_en_produccion'));
    }
    // Ir al detalle del convenio
    else {
      window.location.replace(Flask.url_for('informes.detalle_convenio_en_produccion', {'id_convenio': convenio.value}));
    }
  });

</script>

{% endblock content %}
