{% extends 'layout.html' %}
{% block content %}
{{ JSGlue.include() }}
<script src='{{ url_for("static", filename="script.js") }}'></script>
<script type="text/javascript">
  changeActive('#personas')
</script>

<div class="content-section mx-4">
  <!-- Select Personas -->
  <select autofocus class="form-control form-control-lg form-select mb-5" id="persona" name="persona">
    {% for persona in personas %}
      <option value="{{ persona[0] }}">{{ persona[1] }}</option>
    {% endfor %}
  </select>


<!-- Formulario Nueva persona -->

<form id="formPersona" method="POST" novalidate>
  {{ form_persona.hidden_tag() }}
  {{ form_persona.id_persona()}}
  <fieldset>
    <div class="row form-group mb-3">
      <!-- Legenda -->
      <div class="col-lg-8">
        <legend>
          Agregar nueva persona
        </legend>
      </div>
      <!-- Botón eliminar persona
      <div class="col-lg-4">
        <a id="eliminarPersona" class="eliminar-btn float-end" href="#" style='display: none'>
          <i class="fas fa-trash-alt"></i>
        </a>
      </div>
    </div> -->
    <!-- Nombre -->
    <div class="form-group mb-3">
      {{ form_persona.nombre.label(class='form-control-label mb-1') }}
      {% if form_persona.nombre.errors %}
        {{ form_persona.nombre(class='form-control form-control-lg is-invalid') }}
        <div class="invalid-feedback">
          {% for error in form_persona.nombre.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form_persona.nombre(class="form-control form-control-lg") }}
      {% endif %}
    </div>

    <div class="row form-group mb-3">
      <!-- Correo -->
      <div class="col-lg-4">
        {{ form_persona.correo.label(class='form-control-label mb-1') }}
        {% if form_persona.correo.errors %}
          {{ form_persona.correo(class='form-control form-control-lg is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form_persona.correo.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form_persona.correo(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <!-- Teléfono -->
      <div class="col-lg-4">
        {{ form_persona.telefono.label(class='form-control-label mb-1') }}
        {% if form_persona.telefono.errors %}
          {{ form_persona.telefono(class='form-control form-control-lg is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form_persona.telefono.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form_persona.telefono(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <!-- Equipo -->
      <div class="col-lg-4">
        {{ form_persona.equipo.label(class='form-control-label mb-1') }}
        {% if form_persona.equipo.errors %}
          {{ form_persona.equipo(class='form-control form-control-lg form-select is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form_persona.equipo.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form_persona.equipo(class="form-control form-control-lg form-select") }}
        {% endif %}
      </div>
    </div>
    <!-- Institución -->
    <div class="form-group mb-4">
      {{ form_persona.institucion.label(class='form-control-label mb-1') }}
      {% if form_persona.institucion.errors %}
        {{ form_persona.institucion(class='form-control form-control-lg form-select is-invalid') }}
        <div class="invalid-feedback">
          {% for error in form_persona.institucion.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form_persona.institucion(class="form-control form-control-lg form-select") }}
      {% endif %}
    </div>
    <!-- Área -->
    <div class="form-group mb-3">
      {{ form_persona.area.label(class='form-control-label mb-1') }}
      {% if form_persona.area.errors %}
        {{ form_persona.area(class='form-control form-control-lg is-invalid') }}
        <div class="invalid-feedback">
          {% for error in form_persona.area.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form_persona.area(class="form-control form-control-lg") }}
      {% endif %}
    </div>
    <!-- Cargo -->
    <div class="form-group mb-3">
      {{ form_persona.cargo.label(class='form-control-label mb-1') }}
      {% if form_persona.cargo.errors %}
        {{ form_persona.cargo(class='form-control form-control-lg is-invalid') }}
        <div class="invalid-feedback">
          {% for error in form_persona.cargo.errors %}
            <span>{{ error }}</span>
          {% endfor %}
        </div>
      {% else %}
        {{ form_persona.cargo(class="form-control form-control-lg") }}
      {% endif %}
    </div>
  </fieldset>
  {{ form_persona.submit(class="btn btn-outline-primary float-end mb-5") }}

</form>
</div>

<script type="text/javascript">
  // Cuando se hace click en el select field
  var selection = document.querySelector("#persona");
  selection.addEventListener('change', function(e) {
    if (selection.value == 0) {
      document.querySelector('#id_persona').value = 0;
      document.querySelector('#nombre').value = "";
      document.querySelector('#correo').value = "";
      document.querySelector('#telefono').value = "";
      document.querySelector('#cargo').value = "";
      document.querySelector('#area').value = "";
      document.querySelector('#institucion').value = 0;
      document.querySelector('#equipo').value = 0;

      document.querySelector('legend').innerHTML = "Agregar nueva persona"
      document.querySelector('#submit').value = "Agregar"
      // document.querySelector('#eliminarPersona').style.display = 'none'

    }
    // Si se selecciona, obtener info y mostrar formulario editar precargado
    else {
      fetch(Flask.url_for('main.obtener_persona', {'id': selection.value}))
      .then(response => response.json())
      .then(data => {
        document.querySelector('#id_persona').value = data.id;
        document.querySelector('#nombre').value = data.nombre;
        document.querySelector('#correo').value = data.correo;
        document.querySelector('#telefono').value = data.telefono;
        document.querySelector('#cargo').value = data.cargo;
        document.querySelector('#area').value = data.area;
        document.querySelector('#institucion').value = data.institucion;
        document.querySelector('#equipo').value = data.equipo;

        // Mostrar botón de eliminar y cambiar textos
        document.querySelector('legend').innerHTML = "Editar persona";
        document.querySelector('#submit').value = "Actualizar";
        // document.querySelector('#eliminarPersona').style.display = 'block';
        // document.querySelector('#eliminarPersona').href = Flask.url_for('main.eliminar_persona', {'id_persona': selection.value});
    })}});
</script>

{% endblock content %}
