{% extends 'layout.html' %}
{% block content %}
{{ JSGlue.include() }}
<script src='{{ url_for("static", filename="script.js") }}'></script>
<script type="text/javascript">
  changeActive('#recepcionSFTP')
</script>

<!-- Formulario para generar recepciones -->

{% if current_user.permisos == 'Admin' or current_user.permisos == 'Analista' %}
<div class="card mb-5 shadow">
    <div class="card-body">
        <form action="{{ url_for('intercambio.generar_recepciones_sftp_mes') }}" method="POST" class="mb-5">
            <div class="form-group">
                <p>Seleccione mes para generar las recepciones por SFTP del año en curso.</p>
                <div class="row">
                    <div class="col-lg-4">
                        <select class="form-select" name="mesSelect">
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>
                    <div class="col-lg-4 px-0">
                        <button type="submit" class="btn btn-primary ms-0" name="generarRecepciones">Generar</button>
                        <button class="btn btn-primary" name="enviarCorreos"><i class="fa-regular fa-envelope"></i></button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
{% endif %}


<div class="container">
    <h3 class=" text-center text-uppercase mt-0 mb-4">
        Calendario de recepciones por SFTP <a class="simple-link push-right pe-1" href="#"><i class="fa-solid fa-file-excel"></i></a>
    </h3>
    <!-- AÑOS -->
    {% for ano, data_ano in data_recepciones.items() %}
        <div class="mb-2">
            <div class="mw-100 text-center bg-dark fw-bold py-2">
                <a class="etiqueta-ano simple-link text-white" href="#id_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_{{ano}}">{{ano}}</a>
            </div>
            <div class="mt-2 collapse container" id="id_{{ano}}">
                <!-- MESES -->
                <div class="row">
                    <div class="col text-center bg-dark me-1">
                        <a id="ENERO_{{ano}}" class="simple-link text-white etiqueta-mes" href="#id_Enero_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_Enero_{{ano}}">Enero</a>
                    </div>
                    <div class="col text-center bg-dark text-white me-1">
                        <a id="FEBRERO_{{ano}}" class="simple-link text-white etiqueta-mes" href="#id_Febrero_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_Febrero_{{ano}}">Febrero</a>
                    </div>
                    <div class="col text-center bg-dark text-white me-1">
                        <a id="MARZO_{{ano}}" class="simple-link text-white etiqueta-mes" href="#id_Marzo_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_Marzo_{{ano}}">Marzo</a>
                    </div>
                    <div class="col text-center bg-dark text-white me-1">
                        <a id="ABRIL_{{ano}}" class="simple-link text-white etiqueta-mes" href="#id_Abril_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_Abril_{{ano}}">Abril</a>
                    </div>
                    <div class="col text-center bg-dark text-white me-1">
                        <a id="MAYO_{{ano}}" class="simple-link text-white etiqueta-mes" href="#id_Mayo_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_Mayo_{{ano}}">Mayo</a>
                    </div>
                    <div class="col text-center bg-dark text-white">
                        <a id="JUNIO_{{ano}}" class="simple-link text-white etiqueta-mes" href="#id_Junio_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_Junio_{{ano}}">Junio</a>
                    </div>
                </div>
                <div class="row mt-1 mb-2">
                    <div class="col text-center bg-dark text-white me-1">
                        <a id="JULIO_{{ano}}" class="simple-link text-white etiqueta-mes" href="#id_Julio_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_Julio_{{ano}}">Julio</a>
                    </div>
                    <div class="col text-center bg-dark text-white me-1">
                        <a id="AGOSTO_{{ano}}" class="simple-link text-white etiqueta-mes" href="#id_Agosto_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_Agosto_{{ano}}">Agosto</a>
                    </div>
                    <div class="col text-center bg-dark text-white me-1">
                        <a id="SEPTIEMBRE_{{ano}}" class="simple-link text-white etiqueta-mes" href="#id_Septiembre_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_Septiembre_{{ano}}">Septiembre</a>
                    </div>
                    <div class="col text-center bg-dark text-white me-1">
                        <a id="OCTUBRE_{{ano}}" class="simple-link text-white etiqueta-mes" href="#id_Octubre_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_Octubre_{{ano}}">Octubre</a>
                    </div>
                    <div class="col text-center bg-dark text-white me-1">
                        <a id="NOVIEMBRE_{{ano}}" class="simple-link text-white etiqueta-mes" href="#id_Noviembre_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_Noviembre_{{ano}}">Noviembre</a>
                    </div>
                    <div class="col text-center bg-dark text-white">
                        <a id="DICIEMBRE_{{ano}}" class="simple-link text-white etiqueta-mes" href="#id_Diciembre_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_Diciembre_{{ano}}">Diciembre</a>
                    </div>
                </div>

                {% for mes, data_mes in data_ano.items() %}
                    <div class="collapse" id="id_{{mes}}_{{ano}}">
                        <!-- INSTITUCIONES -->
                        {% for institucion, data_institucion in data_mes.items()|sort(attribute='0') %}
                            <div class="">
                                <a id="" class="etiqueta-institucion simple-link" href="#id_{{institucion}}_{{mes}}_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_{{institucion}}_{{mes}}_{{ano}}"><h5 class="text-secondary">{{institucion}}</h5></a>    
                                <div class="collapse" id="id_{{institucion}}_{{mes}}_{{ano}}">
                                    <!-- PESTAÑAS -->
                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab-{{mes}}-{{ano}}" role="tablist">
                                            <!-- Pestaña pendientes-->
                                            <button class="nav-link {{ '' if current_user.permisos == 'Subdirección'  else 'active' }}" id="nav-tab-pendientes-{{institucion}}-{{mes}}-{{ano}}" data-bs-toggle="tab" data-bs-target="#nav-pendientes-{{institucion}}-{{mes}}-{{ano}}" type="button" role="tab" aria-controls="nav-pendientes-{{institucion}}-{{mes}}-{{ano}}" aria-selected="{{ 'false' if current_user.permisos == 'Subdirección'  else 'true' }}">Pendientes
                                            </button>
                                            <!-- Pestaña por validar -->
                                            <button class="nav-link {{ 'active' if current_user.permisos == 'Subdirección'  else '' }}" id="nav-tab-porValidar-{{institucion}}-{{mes}}-{{ano}}" data-bs-toggle="tab" data-bs-target="#nav-porValidar-{{institucion}}-{{mes}}-{{ano}}" type="button" role="tab" aria-controls="nav-porValidar-{{institucion}}-{{mes}}-{{ano}}" aria-selected="{{ 'true' if current_user.permisos == 'Subdirección'  else 'false' }}">Por validar
                                            </button>
                                            <!-- Pestaña observados  -->
                                            <button class="nav-link" id="nav-tab-observados-{{institucion}}-{{mes}}-{{ano}}" data-bs-toggle="tab" data-bs-target="#nav-observados-{{institucion}}-{{mes}}-{{ano}}" type="button" role="tab" aria-controls="nav-observados-{{institucion}}-{{mes}}-{{ano}}" aria-selected="false">Observados
                                            </button>
                                            <!-- Pestaña Validados  -->
                                            <button class="nav-link" id="nav-tab-validados-{{institucion}}-{{mes}}-{{ano}}" data-bs-toggle="tab" data-bs-target="#nav-validados-{{institucion}}-{{mes}}-{{ano}}" type="button" role="tab" aria-controls="nav-validados-{{institucion}}-{{mes}}-{{ano}}" aria-selected="false">Validados
                                            </button>                                      
                                        </div>
                                    </nav>
                                    <!-- TABLAS -->
                                    <div class="tab-content mb-5" id="nav-tab-content-{{institucion}}-{{mes}}-{{ano}}">

                                        <!-- Tabla arhivos pendientes -->
                                        <div class="tab-pane fade show {{ '' if current_user.permisos == 'Subdirección'  else 'active' }}" id="nav-pendientes-{{institucion}}-{{mes}}-{{ano}}" role="tabpanel" aria-labelledby="nav-tab-pendientes-{{institucion}}-{{mes}}-{{ano}}" tabindex="0">
                                            <div>
                                                <table class="table" id="recepciones-pendientes-{{institucion}}-{{mes}}-{{ano}}">
                                                    <thead class="table-dark">
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Título entrega</th>
                                                            <th scope="col">Nombre archivo</th>
                                                            <th scope="col">Fecha</th>
                                                            {% if current_user.is_authenticated %}
                                                                <th class="text-center" scope="col">Ver carpeta</th>
                                                            {% endif %}
                                                            {% if current_user.permisos == 'Admin' or current_user.permisos == 'Analista' %}
                                                                <th scope='col'></th>
                                                            {% endif %}
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <form action="{{ url_for('intercambio.recepcion_sftp') }}" method="POST">
                                                        {% for recepcion in data_institucion.pendientes %}
                                                            <tr>
                                                                <td>{{ loop.index }}</td>
                                                                <td>{{ recepcion.titulo }}</td>
                                                                <td>{{ recepcion.archivo }}</td>
                                                                <td>{{ recepcion.fecha }}</td>
                                                                {% if current_user.is_authenticated %}
                                                                    <td class="text-center"><a class="simple-link" target="_blank" href="{{recepcion.link}}"><img src="{{ url_for('static', filename='sharepoint.png') }}"></a></td>
                                                                {% endif %}
                                                                {% if current_user.permisos == 'Admin' or current_user.permisos == 'Analista' %}
                                                                    <td class="text-center"><input type="checkbox" name="recibido_checkbox" value="{{ recepcion.id }}"></td>
                                                                {% endif %}
                                                            </tr>
                                                        {% endfor %}

                                                    </tbody>
                                                </table>
                                                </div>
                                                {% if current_user.permisos == 'Admin' or current_user.permisos == 'Analista'  %}
                                                    <div class="text-center mb-3">
                                                    <button name="pendientes" type='submit' class="btn btn-outline-success btn-sm">Enviar archivos a validación</button>
                                                    </div>
                                                {% endif %}
                                                        </form>
                                            </div>

                                        <!-- Tabla arhivos por validar -->
                                        <div class="tab-pane fade show {{ 'active' if current_user.permisos == 'Subdirección'  else '' }}" id="nav-porValidar-{{institucion}}-{{mes}}-{{ano}}" role="tabpanel" aria-labelledby="nav-tab-porValidar-{{institucion}}-{{mes}}-{{ano}}" tabindex="0">
                                            <div>
                                                <table class="table" id="recepciones-porValidar--{{institucion}}-{{mes}}-{{ano}}">
                                                    <thead class="table-dark">
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Título entrega</th>
                                                            <th scope="col">Nombre archivo</th>
                                                            <th scope="col">Fecha</th>
                                                            {% if current_user.is_authenticated %}
                                                                <th class="text-center" scope="col">Ver carpeta</th>
                                                            {% endif %}
                                                            {% if current_user.permisos == 'Admin' or current_user.permisos == 'Analista' %}
                                                                <th scope="col">Revisa</th>
                                                            {% endif %}
                                                            {% if current_user.permisos == 'Admin' or current_user.permisos == 'Subdirección' %}
                                                                <th class="text-center" scope="col">Aprueba</th>
                                                                <th class="text-center" scope="col">Observa</th>
                                                            {% endif %}
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <form action="{{ url_for('intercambio.recepcion_sftp') }}" method="POST">
                                                        {% for recepcion in data_institucion.por_validar %}
                                                        {% if current_user.is_authenticated %}
                                                            {% if current_user.permisos == 'Admin' or current_user.permisos == 'Analistsa' or current_user.persona.equipo.sigla == recepcion.revisa %}
                                                                <tr>
                                                                    <td>{{ loop.index }}</td>
                                                                    <td>{{ recepcion.titulo }}</td>
                                                                    <td>{{ recepcion.archivo }}</td>
                                                                    <td>{{ recepcion.fecha }}</td>
                                                                    {% if current_user.is_authenticated %}
                                                                        <td class="text-center"><a class="simple-link" target="_blank" href="{{recepcion.link}}"><img src="{{ url_for('static', filename='sharepoint.png') }}"></a></td>
                                                                    {% endif %}
                                                                    {% if current_user.permisos == 'Admin' or current_user.permisos == 'Analista' %}
                                                                        <td class="text-center">{{ recepcion.revisa }}</td>
                                                                    {% endif %}
                                                                    {% if current_user.permisos == 'Admin' or current_user.permisos == 'Subdirección' %}
                                                                        <td class="text-center"><input type="checkbox" name="aprobado_checkbox" value="{{ recepcion.id }}"></td>
                                                                        <td class="text-center"><a class="simple-link" href="{{ url_for('intercambio.observar_archivo', id_archivo=recepcion.id) }}"><i class="fa-solid fa-triangle-exclamation" /></a></td>
                                                                    {% endif %}
                                                                </tr>
                                                            {% endif %}
                                                        {% endif %}
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            {% if current_user.permisos == 'Admin' or current_user.permisos == 'Subdirección' %}
                                                <div class="text-center mb-4">
                                                    <button name="aprobar" type=submit class="btn btn-outline-success btn-sm">Aprobar archivos</button>
                                                </div>
                                            {% endif %}
                                                        </form>
                                        </div>
                                        <!-- Tabla arhivos observados -->
                                        <div class="tab-pane fade show" id="nav-observados-{{institucion}}-{{mes}}-{{ano}}" role="tabpanel" aria-labelledby="nav-tab-observados-{{institucion}}-{{mes}}-{{ano}}" tabindex="0">
                                            <div>
                                                <table class="table" id="recepciones-observados-{{institucion}}-{{mes}}-{{ano}}">
                                                    <thead class="table-dark">
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Título entrega</th>
                                                            <th scope="col">Nombre archivo</th>
                                                            <th scope="col">Fecha</th>
                                                            {% if current_user.is_authenticated %}
                                                                <th class="text-center" scope="col">Ver carpeta</th>
                                                            {% endif %}
                                                            <th scope"col">Observación</th>
                                                            {% if current_user.permisos == 'Admin' or current_user.permisos == 'Analista' %}
                                                                <th scope='col'></th>
                                                            {% endif %}
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for recepcion in data_institucion.observados %}
                                                            <tr>
                                                                <td>{{ loop.index }}</td>
                                                                <td>{{ recepcion.titulo }}</td>
                                                                <td>{{ recepcion.archivo }}</td>
                                                                <td>{{ recepcion.fecha }}</td>
                                                                {% if current_user.is_authenticated %}
                                                                    <td class="text-center"><a class="simple-link" target="_blank" href="{{recepcion.link}}"><img src="{{ url_for('static', filename='sharepoint.png') }}"></a></td>
                                                                {% endif %}
                                                                <td>{{recepcion.observacion}}</td>
                                                                {% if current_user.permisos == 'Admin' or current_user.permisos == 'Analista' %}
                                                                    <td class="text-center"><a class="simple-link" href="{{ url_for('intercambio.recibir_corregido', id_archivo=recepcion.id)}}"><i class="fa-solid fa-rotate-right" /></a></td>
                                                                {% endif %}
                                                            </tr>
                                                        {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- Tabla arhivos validados -->
                                        <div class="tab-pane fade show" id="nav-validados-{{institucion}}-{{mes}}-{{ano}}" role="tabpanel" aria-labelledby="nav-tab-validados-{{institucion}}-{{mes}}-{{ano}}" tabindex="0">
                                            <div>
                                                <table class="table" id="recepciones-validados--{{institucion}}-{{mes}}-{{ano}}">
                                                    <thead class="table-dark">
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Título entrega</th>
                                                            <th scope="col">Nombre archivo</th>
                                                            <th scope="col">Fecha</th>
                                                            {% if current_user.is_authenticated %}
                                                                <th class="text-center" scope="col">Ver carpeta</th>
                                                            {% endif %}
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <form action="{{ url_for('intercambio.recepcion_sftp') }}" method="POST">
                                                        {% for recepcion in data_institucion.validados %}
                                                            <tr>
                                                                <td>{{ loop.index }}</td>
                                                                <td>{{ recepcion.titulo }}</td>
                                                                <td>{{ recepcion.archivo }}</td>
                                                                <td>{{ recepcion.fecha }}</td>
                                                                {% if current_user.is_authenticated %}
                                                                    <td class="text-center"><a class="simple-link" target="_blank" href="{{recepcion.link}}"><img src="{{ url_for('static', filename='sharepoint.png') }}"></a></td>
                                                                {% endif %}
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>                     
                            </div>

                        {% endfor %}
                    </div>
                {% endfor %}

                
            </div>
        </div>
    {% endfor %}
    













    
</div>






<script type="text/javascript">
  $(document).ready(() => {
    $("a.etiqueta-mes").click((event) => {
        changeEtiquetaSFTP(event.target);
    });

    $("a.etiqueta-ano").click(event => {
        changeEtiquetaAno(event.target);
    });

    $("a.etiqueta-institucion").click(event => {
        changeEtiquetaInstitucion(event.target);
    });
  });
</script>

<script>
$('#recepcionesPendientes').DataTable();
</script>
{% endblock content %}
