{% extends 'layout.html' %}
{% block content %}
{{ JSGlue.include() }}
<script src='{{ url_for("static", filename="script.js") }}'></script>
<script type="text/javascript">
  changeActive('#recepcionSFTP')
</script>

<!-- Formulario para generar recepciones -->

{% if current_user.permisos == 'Admin' or current_user.permisos == 'Analista' %}
<div class="card mb-5 shadow">
    <div class="card-body">
        <form action="{{ url_for('intercambio.generar_recepciones_sftp_mes') }}" method="POST" class="mb-5">
            <div class="form-group">
                <p>Seleccione mes para generar las recepciones por SFTP del año en curso.</p>
                <div class="row">
                    <div class="col-lg-4">
                        <select class="form-select" name="mesSelect">
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>
                    <div class="col-lg-4 px-0">
                        <button type="submit" class="btn btn-primary ms-0" name="generarRecepciones">Generar</button>
                        <button class="btn btn-primary" name="enviarCorreos"><i class="fa-regular fa-envelope"></i></button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
{% endif %}


<div class="container">
    <h3 class=" text-center text-uppercase mt-0 mb-4">
        Calendario de recepciones por SFTP <a class="simple-link push-right pe-1" href="#"><i class="fa-solid fa-file-excel"></i></a>
    </h3>
    <!-- AÑOS -->
    {% for ano, data_ano in data_recepciones.items() %}
        <div class="mb-2">
            <div class="mw-100 text-center bg-dark fw-bold py-2">
                <a class="etiqueta-ano simple-link text-white" href="#id_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_{{ano}}">{{ano}}</a>
            </div>
            <div class="mt-2 collapse container" id="id_{{ano}}">
                <!-- MESES -->
                <div class="row">
                    <div class="col text-center bg-dark me-1">
                        <a id="ENERO_{{ano}}" class="simple-link text-white etiqueta-mes" href="#id_Enero_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_Enero_{{ano}}">Enero</a>
                    </div>
                    <div class="col text-center bg-dark text-white me-1">
                        <a id="FEBRERO_{{ano}}" class="simple-link text-white etiqueta-mes" href="#id_Febrero_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_Febrero_{{ano}}">Febrero</a>
                    </div>
                    <div class="col text-center bg-dark text-white me-1">
                        <a id="MARZO_{{ano}}" class="simple-link text-white etiqueta-mes" href="#id_Marzo_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_Marzo_{{ano}}">Marzo</a>
                    </div>
                    <div class="col text-center bg-dark text-white me-1">
                        <a id="ABRIL_{{ano}}" class="simple-link text-white etiqueta-mes" href="#id_Abril_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_Abril_{{ano}}">Abril</a>
                    </div>
                    <div class="col text-center bg-dark text-white me-1">
                        <a id="MAYO_{{ano}}" class="simple-link text-white etiqueta-mes" href="#id_Mayo_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_Mayo_{{ano}}">Mayo</a>
                    </div>
                    <div class="col text-center bg-dark text-white">
                        <a id="JUNIO_{{ano}}" class="simple-link text-white etiqueta-mes" href="#id_Junio_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_Junio_{{ano}}">Junio</a>
                    </div>
                </div>
                <div class="row mt-1 mb-2">
                    <div class="col text-center bg-dark text-white me-1">
                        <a id="JULIO_{{ano}}" class="simple-link text-white etiqueta-mes" href="#id_Julio_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_Julio_{{ano}}">Julio</a>
                    </div>
                    <div class="col text-center bg-dark text-white me-1">
                        <a id="AGOSTO_{{ano}}" class="simple-link text-white etiqueta-mes" href="#id_Agosto_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_Agosto_{{ano}}">Agosto</a>
                    </div>
                    <div class="col text-center bg-dark text-white me-1">
                        <a id="SEPTIEMBRE_{{ano}}" class="simple-link text-white etiqueta-mes" href="#id_Septiembre_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_Septiembre_{{ano}}">Septiembre</a>
                    </div>
                    <div class="col text-center bg-dark text-white me-1">
                        <a id="OCTUBRE_{{ano}}" class="simple-link text-white etiqueta-mes" href="#id_Octubre_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_Octubre_{{ano}}">Octubre</a>
                    </div>
                    <div class="col text-center bg-dark text-white me-1">
                        <a id="NOVIEMBRE_{{ano}}" class="simple-link text-white etiqueta-mes" href="#id_Noviembre_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_Noviembre_{{ano}}">Noviembre</a>
                    </div>
                    <div class="col text-center bg-dark text-white">
                        <a id="DICIEMBRE_{{ano}}" class="simple-link text-white etiqueta-mes" href="#id_Diciembre_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_Diciembre_{{ano}}">Diciembre</a>
                    </div>
                </div>

                {% for mes, data_mes in data_ano.items() %}
                    <div class="collapse" id="id_{{mes}}_{{ano}}">
                        <!-- INSTITUCIONES -->
                        {% for institucion, data_institucion in data_mes.items()|sort(attribute='0') %}
                            <div class="">
                                <a id="" class="etiqueta-institucion simple-link" href="#id_{{institucion}}_{{mes}}_{{ano}}" data-bs-toggle="collapse" aria-expanded="false" aria-controls="id_{{institucion}}_{{mes}}_{{ano}}"><h5 class="text-secondary">{{institucion}}</h5></a>    
                                <div class="collapse" id="id_{{institucion}}_{{mes}}_{{ano}}">Data {{institucion}} {{mes}} {{ano}}</div>                     
                            </div>

                        {% endfor %}
                    </div>
                {% endfor %}

                
            </div>
        </div>
    {% endfor %}
    













    
</div>






<script type="text/javascript">
  $(document).ready(() => {
    $("a.etiqueta-mes").click((event) => {
        changeEtiquetaSFTP(event.target);
    });

    $("a.etiqueta-ano").click(event => {
        changeEtiquetaAno(event.target);
    });

    $("a.etiqueta-institucion").click(event => {
        changeEtiquetaInstitucion(event.target);
    });
  });
</script>

<script>
$('#recepcionesPendientes').DataTable();
</script>
{% endblock content %}
