{% extends 'layout.html' %}
{% block content %}
{{ JSGlue.include() }}
<script src='{{ url_for("static", filename="script.js") }}'></script>
<script type="text/javascript">
  changeActive('#recepcionSFTP')
</script>

<!-- Formulario para generar recepciones -->
<div class="card mb-5 shadow">
    <div class="card-body">
        <form action="{{ url_for('intercambio.generar_recepciones_sftp_mes') }}" method="POST" class="mb-5">
            <div class="form-group">
                <p>Seleccione mes para generar las recepciones por SFTP del año en curso.</p>
                <div class="row">
                    <div class="col-lg-4">
                        <select class="form-select" name="mesSelect">
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>
                    <div class="col-lg-4 px-0">
                        <button type="submit" class="btn btn-primary ms-0" name="generarRecepciones">Generar</button>
                        <button class="btn btn-primary" name="enviarCorreos"><i class="fa-regular fa-envelope"></i></button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<!-- Tabs con tablas de recepciones -->
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-pendientes-tab" data-bs-toggle="tab" data-bs-target="#navPendientes" type="button"
                role="tab" aria-controls="nav-pendientes" aria-selected="true">Pendientes
        </button>
        <button class="nav-link" id="nav-validacion-tab" data-bs-toggle="tab" data-bs-target="#navValidacion" type="button"
                role="tab" aria-controls="nav-validacion" aria-selected="false">Por validar
        </button>
        <button class="nav-link" id="nav-observados-tab" data-bs-toggle="tab" data-bs-target="#navObservados" type="button"
                role="tab" aria-controls="nav-observados" aria-selected="false">Observados
        </button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <!-- Tabla archivos pendientes -->
    <div class="tab-pane fade show active" id="navPendientes" role="tabpanel" aria-labelledby="nav-pendientes-tab" tabindex="0">
        <div class="">
            <p class="mb-3">Archivos pendientes de recepción por SFTP.</p>
            <div>
                <table class="table" id="recepcionesPendientes">
                    <thead class="table-dark">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Institución</th>
                          <th scope="col">Título</th>
                          <th scope="col">Archivo</th>
                          <th scope="col">Fecha</th>
                          <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <form action="{{ url_for('intercambio.recepcion_sftp') }}", method="POST">
                        {% for recepcion in recepciones_data %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ recepcion.institucion }}</td>
                                <td>{{ recepcion.titulo }}</td>
                                <td>{{ recepcion.archivo }}</td>
                                <td>{{ recepcion.fecha }}</td>
                                <td><input type="checkbox" name="recibido_checkbox" value="{{ recepcion.recepcion_id }}"></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="text-center mb-4">
                <button type=submit class="btn btn-outline-success btn-sm">Enviar archivos a validación</button>
            </div>
            </form>
        </div>
    </div>
    <div class="tab-pane fade" id="navValidacion" role="tabpanel" aria-labelledby="nav-validacion-tab" tabindex="0">
        <div class="">
            <p class="mb-3">Información pendiente de validación.</p>
            <div style="overflow: auto; max-height: 500px">
                <table class="table" id="">
                <thead class="table-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Institución</th>
                      <th scope="col">Título</th>
                      <th scope="col">Archivo</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Revisa</th>
                    </tr>
                </thead>
                <tbody>
                    {% for archivo in informacion_por_validar %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ archivo.institucion }}</td>
                            <td>{{ archivo.titulo }}</td>
                            <td>{{ archivo.archivo }}</td>
                            <td>{{ archivo.fecha }}</td>
                            <td>{{ archivo.revisa }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="navObservados" role="tabpanel" aria-labelledby="nav-observados-tab" tabindex="0">
        <div>
            <p class="mb-3">Archivos observados.</p>
            <div style="overflow: auto; max-height: 500px">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Institución</th>
                          <th scope="col">Título</th>
                          <th scope="col">Archivo</th>
                          <th scope="col">Fecha</th>
                          <th scope="col">Observación</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for archivo in informacion_observada %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ archivo.institucion }}</td>
                                <td>{{ archivo.titulo }}</td>
                                <td>{{ archivo.archivo }}</td>
                                <td>{{ archivo.fecha }}</td>
                                <td>{{ archivo.observacion }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>






<script>
$('#recepcionesPendientes').DataTable();
</script>
{% endblock content %}
