{% extends 'layout.html' %}
{% block content %}
{{ JSGlue.include() }}
<script src='{{ url_for("static", filename="script.js") }}'></script>
<script type="text/javascript">
  changeActive('#bitacoraConvenio')
</script>

<div class="content-section mx-4">
  <!-- Select Convenio -->
  <select autofocus class="form-control form-control-lg form-select mb-5" id="convenio" name="convenio">
    {% for convenio in convenios %}
      <option value="{{ convenio[0] }}">{{ convenio[1] }}</option>
    {% endfor %}
  </select>

  <!-- Información de convenio -->
  <div class="row border border-secondary rounded mb-4">
  <form class="" id='formInfo' method="post" novalidate>
    <fieldset>
      {{ form_info.hidden_tag() }}
      <!-- Primera fila -->
      <div class="row mb-3 border-bottom pb-2">
        <!-- Días en proceso -->
        <div class="col-lg-3">
          <div class="row py-2">
            <h5>Días en proceso</h5>
          </div>
          <div class="row">
            <h5 class=""><i class="fas fa-stopwatch"></i>   {{ info_convenio.dias_proceso }}</h5>
          </div>
        </div>
        <!-- Etapa actual -->
        <div class="col-lg-5">
          <div class="row mb-2 pt-2">
            {% if form_info.etapa.errors %}
              {{ form_info.etapa(class='form-control form-control-lg form-select is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form_info.etapa.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form_info.etapa(class="form-control form-control-lg form-select") }}
            {% endif %}
          </div>
          <div class="row">
            <div class="col-lg-6 ps-0 pe-4">
              {% if form_info.fecha_etapa.errors %}
                {{ form_info.fecha_etapa(class='datepicker form-control form-control-sm is-invalid mb-1') }}
                <div class="invalid-feedback">
                  {% for error in form_info.fecha_etapa.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form_info.fecha_etapa(class="datepicker form-control form-control-sm mb-1") }}
              {% endif %}
            </div>
            <div class="col-lg-6 ps-0">
              <h5><i class="fas fa-stopwatch"></i>   {{ info_convenio.dias_etapa }}</h5>
            </div>
          </div>
        </div>
        <!-- Coordinador y suplente -->
        <div class="col-lg-4">
          <div class='row'>
            <div class="col-lg-3">
              <h1 class="ps-2"><i class="fas fa-user-friends"></i></h1>
            </div>
            <div class="col-lg-7">
              <div class="row">
                {{  info_convenio.coord }}
              </div>
              <div class='row'>
                {{ info_convenio.sup }}
              </div>
            </div>
            <div class="col-lg-1">
              <a class="text-center" style="text-decoration: none; color: #000;" href="{{ url_for('informes.detalle_convenio_en_proceso', id_convenio=id_convenio) }}"><i class="fas fa-search btn-lg"></i></a>
            </div>
          </div>

        </div>
      </div>
      <!-- Segunda fila -->
      <div class="row mb-3 border-bottom pb-2">
        <!-- Equipo 1 -->
        <div class="col-lg-3 ps-3">
          <div class="row mb-2">
            {% if form_info.equipo_1.errors %}
              {{ form_info.equipo_1(class='form-control form-control-lg form-select is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form_info.equipo_1.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form_info.equipo_1(class="form-control form-control-lg form-select") }}
            {% endif %}
          </div>
          <div class="row">
            <div class="col-lg-9 ps-0 pe-4">
              {% if form_info.fecha_equipo_1.errors %}
                {{ form_info.fecha_equipo_1(class='datepicker form-control form-control-sm is-invalid mb-1') }}
                <div class="invalid-feedback">
                  {% for error in form_info.fecha_equipo_1.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form_info.fecha_equipo_1(class="datepicker form-control form-control-sm mb-1") }}
              {% endif %}
            </div>
            <div class="col-lg-3 ps-0">
              <h5><i class="fas fa-stopwatch"></i>   {{ info_convenio.equipos[0].dias_equipo }}</h5>
            </div>
          </div>
        </div>
        <!-- Equipo 2 -->
        <div class="col-lg-3 ps-3">
          <div class="row mb-2">
            {% if form_info.equipo_2.errors %}
              {{ form_info.equipo_2(class='form-control form-control-lg form-select is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form_info.equipo_2.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form_info.equipo_2(class="form-control form-control-lg form-select") }}
            {% endif %}
          </div>
          <div class="row">
            <div class="col-lg-9 ps-0 pe-4">
              {% if form_info.fecha_equipo_2.errors %}
                {{ form_info.fecha_equipo_2(class='datepicker form-control form-control-sm is-invalid mb-1') }}
                <div class="invalid-feedback">
                  {% for error in form_info.fecha_equipo_2.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form_info.fecha_equipo_2(class="datepicker form-control form-control-sm mb-1") }}
              {% endif %}
            </div>
            <div class="col-lg-3 ps-0">
              <h5><i class="fas fa-stopwatch"></i>   {{ info_convenio.equipos[1].dias_equipo }}</h5>
            </div>
          </div>
        </div>
        <!-- Equipo 3 -->
        <div class="col-lg-3 ps-3">
          <div class="row mb-2">
            {% if form_info.equipo_3.errors %}
              {{ form_info.equipo_3(class='form-control form-control-lg form-select is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form_info.equipo_3.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form_info.equipo_3(class="form-control form-control-lg form-select") }}
            {% endif %}
          </div>
          <div class="row">
            <div class="col-lg-9 ps-0 pe-4">
              {% if form_info.fecha_equipo_3.errors %}
                {{ form_info.fecha_equipo_3(class='datepicker form-control form-control-sm is-invalid mb-1') }}
                <div class="invalid-feedback">
                  {% for error in form_info.fecha_equipo_3.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form_info.fecha_equipo_3(class="datepicker form-control form-control-sm mb-1") }}
              {% endif %}
            </div>
            <div class="col-lg-3 ps-0">
              <h5><i class="fas fa-stopwatch"></i>   {{ info_convenio.equipos[2].dias_equipo }}</h5>
            </div>
          </div>
        </div>
        <!-- Equipo 4 -->
        <div class="col-lg-3 ps-3">
          <div class="row mb-2 pe-1">
            {% if form_info.equipo_4.errors %}
              {{ form_info.equipo_4(class='form-control form-control-lg form-select is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form_info.equipo_4.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form_info.equipo_4(class="form-control form-control-lg form-select") }}
            {% endif %}
          </div>
          <div class="row">
            <div class="col-lg-9 ps-0 pe-4">
              {% if form_info.fecha_equipo_4.errors %}
                {{ form_info.fecha_equipo_4(class='datepicker form-control form-control-sm is-invalid mb-1') }}
                <div class="invalid-feedback">
                  {% for error in form_info.fecha_equipo_4.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form_info.fecha_equipo_4(class="datepicker form-control form-control-sm mb-1") }}
              {% endif %}
            </div>
            <div class="col-lg-3 ps-0">
              <h5><i class="fas fa-stopwatch"></i>   {{ info_convenio.equipos[3].dias_equipo }}</h5>
            </div>
          </div>
        </div>
      </div>

      <!-- Tercera fila -->
      <div class="row mb-3 border-bottom pb-2">
        <!-- Fecha Documento -->
        <div class="col-lg-3">
          <div class='row ps-2'>
            {{ form_info.fecha_firma_documento.label(class='form-control-label mb-1 ps-0') }}
            {% if form_info.fecha_firma_documento.errors %}
              {{ form_info.fecha_firma_documento(class='datepicker form-control form-control-sm is-invalid mb-1') }}
              <div class="invalid-feedback">
                {% for error in form_info.fecha_firma_documento.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form_info.fecha_firma_documento(class="datepicker form-control form-control-sm mb-1") }}
            {% endif %}
          </div>
        </div>
        <!-- Fecha Resolución -->
        <div class="col-lg-2 ps-3 pe-2">
          <div class="row">
            {{ form_info.fecha_firma_resolucion.label(class='px-1 form-control-label mb-1') }}
              {% if form_info.fecha_firma_resolucion.errors %}
                {{ form_info.fecha_firma_resolucion(class='datepicker form-control form-control-sm is-invalid mb-1') }}
                <div class="invalid-feedback">
                  {% for error in form_info.fecha_firma_resolucion.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form_info.fecha_firma_resolucion(class="datepicker form-control form-control-sm mb-1") }}
              {% endif %}
          </div>
        </div>
        <!-- Número de resolución -->
        <div class="col-lg-2 ps-2 pe-1">
          {{ form_info.nro_resolucion.label(class='ps-1 form-control-label mb-1') }}
          {% if form_info.nro_resolucion.errors %}
            {{ form_info.nro_resolucion(class='form-control form-control-sm is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form_info.nro_resolucion.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form_info.nro_resolucion(class="form-control form-control-sm") }}
          {% endif %}
        </div>
        <!-- Número de proyecto -->
        <div class="col-lg-3 ps-0 pe-1">
          {{ form_info.proyecto.label(class='ps-1 form-control-label mb-1') }}
            {% if form_info.proyecto.errors %}
              {{ form_info.proyecto(class='form-control form-control-sm is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form_info.proyecto.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form_info.proyecto(class="form-control form-control-sm") }}
            {% endif %}
        </div>
        <!-- Número de Gabinete Electrónico -->
        <div class="col-lg-2 ps-0">
          {{ form_info.gabinete_electronico.label(class='ps1- form-control-label mb-1') }}
          {% if form_info.gabinete_electronico.errors %}
            {{ form_info.gabinete_electronico(class='form-control form-control-sm is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form_info.gabinete_electronico.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form_info.gabinete_electronico(class="form-control form-control-sm") }}
          {% endif %}
        </div>

      </div>

      <!-- Cuarta fila -->
      <div class="row mb-3 border-bottom pb-2">
        <!-- Link a al Project -->
        <div class="col-lg-3">

          {% if info_convenio.link_project != "" %}
            <a target="_blank" class="simple-link" href="{{ info_convenio.link_project }}"><img src="{{ url_for('static', filename='project.png') }}"> Ver Project</a>
          {% else %}
            {% if form_info.link_project.errors %}
              {{ form_info.link_project(class='form-control form-control-sm is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form_info.link_project.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form_info.link_project(class="form-control form-control-sm") }}
            {% endif %}
          {% endif %}
        </div>
        <!-- Link a resolución en intranet -->
        <div class="col-lg-3">       
          {% if info_convenio.link_resolucion != "" %}
            <a target="_blank" class="simple-link" href="{{ info_convenio.link_resolucion }}"><i class="fas fa-eye ps-0 pe-1 btn-sm"></i>Ver resolución</a>
          {% else %}
            {% if form_info.link_resolucion.errors %}
              {{ form_info.link_resolucion(class='form-control form-control-sm is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form_info.link_resolucion.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form_info.link_resolucion(class="form-control form-control-sm") }}
            {% endif %}
          {% endif %}
        </div>
        <!-- Link al protocolo técnico -->
        <div class="col-lg-3">       
          {% if info_convenio.link_protocolo != "" %}
            <a target="_blank" class="simple-link" href="{{ info_convenio.link_protocolo }}"><img class="pb-1" src="{{ url_for('static', filename='protocolo.png') }}"> Ver protocolo técnico</a>
          {% else %}
            {% if form_info.link_protocolo.errors %}
              {{ form_info.link_protocolo(class='form-control form-control-sm is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form_info.link_protocolo.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form_info.link_protocolo(class="form-control form-control-sm") }}
            {% endif %}
          {% endif %}
        </div>
        <!-- Link al repositorio -->
        <div class="col-lg-3">       
          {% if info_convenio.link_repositorio != "" %}
            <a target="_blank" class="simple-link" href="{{ info_convenio.link_repositorio }}"><img class="pb-1" src="{{ url_for('static', filename='repositorio.png') }}"> Ver repositorio</a>
          {% else %}
            {% if form_info.link_repositorio.errors %}
              {{ form_info.link_repositorio(class='form-control form-control-sm is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form_info.link_repositorio.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form_info.link_repositorio(class="form-control form-control-sm") }}
            {% endif %}
          {% endif %}
        </div>
      </div>


      <button type=submit name='informacion_convenio' class="btn btn-outline-success btn-sm float-end mb-2"><i class="fas fa-sync-alt"></i></button>
    </fieldset>
  </form>
  </div>

  <div class="row">
      <div class="col-lg-6 border border-secondary rounded mb-4" id=bitacoraAnalista>
        <!-- Formulario bitácora analista -->
        <div class="">
            <h2>Bitácora</h2>
          <form id='formNuevo' method="post" novalidate>
            {{ form_nuevo.hidden_tag() }}
            <fieldset>
              <div class="row form-group mb-3">
                  <div class="col-lg-5">
                    <!-- Fecha -->
                    {% if form_nuevo.fecha.errors %}
                      {{ form_nuevo.fecha(class='datepicker form-control is-invalid mb-1') }}
                      <div class="invalid-feedback">
                        {% for error in form_nuevo.fecha.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form_nuevo.fecha(class="datepicker form-control mb-1") }}
                    {% endif %}
                  </div>
                  <div class="col-lg-6 ps-0">
                    <!-- Observación -->
                    {% if form_nuevo.observacion.errors %}
                      {{ form_nuevo.observacion(class='form-control form-control is-invalid mb-1') }}
                      <div class="invalid-feedback">
                        {% for error in form_nuevo.observacion.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form_nuevo.observacion(class="form-control form-control mb-1") }}
                    {% endif %}
                  </div>
                  <div class="col-lg-1 px-1">
                    <button type=submit name="bitacora_analista" class="btn btn-outline-success btn-sm mb-1"><i class="fas fa-plus"></i></button>
                  </div>
              </div>
            </fieldset>
          </form>
        </div>
        <!-- Registros bitácora analista-->
        <div class="scroll me-0 pe-0">
          <table class='table table-striped'>
            <tbody>
              {% for registro in bitacora_analista %}
              <tr>
                <td style="width: 100px;">{{ registro[1] }}</td>
                <td>{{ registro[0] }}</td>
                <td><a class="text-dark" href="{{ url_for('bitacoras.borrar_bitacora_analista', id_comentario=registro[2], id_convenio=id_convenio) }}"><i class="gray fas fa-trash"></i></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-lg-6 border border-secondary rounded mb-4" id=bitacoraTareas>
        <!-- Formulario bitácora tareas -->
        <div class="">
            <h2>Tareas</h2>
          <form id='formTarea' method="post" novalidate>
            {{ form_tarea.hidden_tag() }}
            <fieldset>
              <div class="row form-group mb-3">
                  <div class="col-lg-5">
                    <!-- Fecha -->
                    {% if form_tarea.plazo.errors %}
                      {{ form_tarea.plazo(class='datepicker form-control is-invalid mb-1') }}
                      <div class="invalid-feedback">
                        {% for error in form_tarea.plazo.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form_tarea.plazo(class="datepicker form-control mb-1") }}
                    {% endif %}
                  </div>
                  <div class="col-lg-6 ps-0">
                    <!-- Observación -->
                    {% if form_tarea.tarea.errors %}
                      {{ form_tarea.tarea(class='form-control is-invalid mb-1') }}
                      <div class="invalid-feedback">
                        {% for error in form_tarea.tarea.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form_tarea.tarea(class="form-control mb-1") }}
                    {% endif %}
                  </div>
                  <div class="col-lg-1 px-1">
                    <button type=submit name="nueva_tarea" class="btn btn-outline-success btn-sm mb-1"><i class="fas fa-plus"></i></button>
                  </div>
              </div>
            </fieldset>
          </form>
        </div>
        <!-- Tareas pendientes-->
        <div class="scroll me-0 pe-0">
          <table class='table table-striped'>
            <tbody>
              {% for tarea in tareas_pendientes %}
                {% if tarea[1] <= hoy %}
                  <tr>
                    <td class='text-danger' style="width: 100px;">{{ tarea[1].strftime('%d-%m-%Y') }}</td>
                    <td class='text-danger'>{{ tarea[0] }}</td>
                    <td style="width: 60px;">
                      <a class="text-dark float-end mx-1" href="{{ url_for('bitacoras.borrar_tarea', id_tarea=tarea[2], id_convenio=id_convenio, id_persona=0) }}"><i class="gray fas fa-trash"></i></a>
                      <a class="text-dark float-end mx-1" href="{{ url_for('bitacoras.completar_tarea', id_tarea=tarea[2], id_convenio=id_convenio, id_persona=0) }}"><i class="fas fa-check green"></i></a>
                    </td>
                  </tr>
                {% else %}
                  <tr>
                    <td style="width: 100px;">{{ tarea[1].strftime('%d-%m-%Y') }}</td>
                    <td>{{ tarea[0] }}</td>
                    <td style="width: 60px;">
                      <a class="text-dark float-end mx-1" href="{{ url_for('bitacoras.borrar_tarea', id_tarea=tarea[2], id_convenio=id_convenio, id_persona=0) }}"><i class="gray fas fa-trash"></i></a>
                      <a class="text-dark float-end mx-1" href="{{ url_for('bitacoras.completar_tarea', id_tarea=tarea[2], id_convenio=id_convenio, id_persona=0) }}"><i class="fas fa-check green"></i></a>
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  </div>

  <!-- Hitos del proceso -->
  <div class="row border border-secondary rounded mb-4">
  <h2>Hitos del proceso</h2>
  <div class="content-section mb-3">
    <table class="table table-hover table-striped">
      <thead class='table-dark'>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Hito</th>
          <th class="text-center" scope="col">Fecha</th>
          <th class='text-center' scope="col">Minuta</th>
          <th class="text-center" scope="col">Grabación</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for hito in hitos_registrados %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ hito.hito }}</td>
            <td class="text-center">{{ hito.fecha }}</td>
            <td class="text-center">
              {% if hito.minuta %}
                <a target="_blank" style="text-decoration: none; color: #000;" href="{{ hito.minuta }}"><i class="fa-solid fa-link"></i></a>
              {% else %}
                <i class="fa-solid fa-link-slash gray"></i>
              {% endif %}
            </td>
            <td class="text-center">
              {% if hito.grabacion %}
                <a target="_blank" style="text-decoration: none; color: #000;" href="{{ hito.grabacion }}"><i class="fa-solid fa-video"></i></a>
              {% else %}
                <i class="fa-solid fa-video-slash gray"></i>
              {% endif %}
            </td>
            <td>
              <a href="#" data-href="{{ url_for('bitacoras.eliminar_hito', id_hito=hito.id_registro) }}" data-bs-toggle="modal" data-bs-target="#borrarHitoModal">
                <i class="gray fas fa-trash"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="pb-2">
      <form class="" method="post" novalidate>
        <fieldset class='row'>
          {{ form_hitos.hidden_tag() }}
          <div class="col-lg-3">
            {% if form_hitos.hito.errors %}
              {{ form_hitos.hito(class='form-control form-control-lg form-select is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form_hitos.hito.errors %}
                  <span> {{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form_hitos.hito(class='form-control form-control-sm form-select') }}
            {% endif %}
          </div>
          <div class="col-lg-2">
            {% if form_hitos.fecha.errors %}
              {{ form_hitos.fecha(class='form-control datepicker is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form_hitos.fecha.errors %}
                  <span> {{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form_hitos.fecha(class='form-control datepicker') }}
            {% endif %}
          </div>
          <div class="col-lg-3">
            {% if form_hitos.minuta.errors %}
              {{ form_hitos.minuta(class='form-control is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form_hitos.minuta.errors %}
                  <span> {{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form_hitos.minuta(class='form-control') }}
            {% endif %}
          </div>
          <div class="col-lg-3">
            {% if form_hitos.grabacion.errors %}
              {{ form_hitos.grabacion(class='form-control is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form_hitos.grabacion.errors %}
                  <span> {{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form_hitos.grabacion(class='form-control') }}
            {% endif %}
          </div>
          <div class="col-lg-1 pt-1">
            <button type=submit name="nuevo_hito" id='nuevo_hito' class="btn btn-outline-success btn-sm"><i class="fas fa-plus"></i></button>
          </div>

        </fieldset>
      </form>
    </div>



    </div>
  </div>

  <!-- Información intercambiada -->
  <div class="row border border-secondary rounded mb-4">
    <h2>Información a intercambiar</h2>
    <h4>Recepción</h4>
    <form method="post" novalidate>
      <div class="content-section mb-3">

        <table class="table table-striped table-hover">
          <thead class='table-dark'>
            <tr>
              <th scope='col'>#</th>
              <th scope='col'>Nombre</th>
              <th scope='col'>Archivo</th>
              <th scope='col'>Periodicidad</th>
              <th class="text-center" scope='col'>Recibe</th>
              <th scope='col'></th>
              <th scope='col'></th>
            </tr>
          </thead>
          <tbody>
            {% for recepcion in  recepciones %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ recepcion.nombre }}</td>
                <td>{{ recepcion.archivo }}</td>
                <td>{{ recepcion.periodo }}</td>
                <td class="text-center">{{ recepcion.sd }}</td>
                <td><input type="checkbox" name="estadoRecepcion_checkbox" value="{{ recepcion.id_recepcion }}" {{ recepcion.activo }}></td>
                <td>
                  <a class='text-dark' href="#" data-href="{{ recepcion.id_recepcion }}" data-bs-toggle="modal" data-bs-target="#editarRecepcionModal">
                    <i class="fa-solid fa-pen"></i>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <h4>Web Services</h4>
      <div class="content-section">
        <table class="table table-hover table-striped">
          <thead class='table-dark'>
            <tr>
              <th scope='col'>#</th>
              <th scope='col'>Nombre AIET</th>
              <th scope='col'>Nombre SDI</th>
              <th scope='col'>Método</th>
              <th scope='col'></th>
              <th scope='col'></th>
            </tr>
          </thead>
          <tbody>
            {% for ws in ws_asignados %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ ws.nombre_aiet }}</td>
                <td>{{ ws.nombre_sdi }}</td>
                <td>{{ ws.metodo }}</td>
                <td><input type="checkbox" name="estadoWS_checkbox" value="{{ ws.id_asignado }}" {{ ws.activo }}></td>
                <td><a href="{{ url_for('bitacoras.eliminar_ws', id_asignado=ws.id_asignado) }}"><i class="gray fas fa-trash"></i></a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="px-3" align='right'>
        <button type=submit name="estados_intercambio" class="btn btn-outline-success btn-sm float-end mb-2"><i class="fas fa-sync-alt"></i></button>
      </div>
    </form>
    </div>


  <!-- Formulario para agregar entregas batch -->
  <div class="row border border-secondary rounded mb-4">
    <h2>Agregar recepción</h2>
    <!-- Añadir recepción -->
    <div class="content-section">
      <form method="POST" novalidate>
        {{ form_recepcion.hidden_tag() }}
        <fieldset>
          <!-- Nombre de la recepción -->
          <div class="form-group mb-3">
            {{ form_recepcion.nombre.label(class='form-control-label mb-1') }}
            {% if form_recepcion.nombre.errors %}
              {{ form_recepcion.nombre(class='form-control form-control-lg is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form_recepcion.nombre.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form_recepcion.nombre(class='form-control form-control-lg')}}
            {% endif %}
          </div>
          <!-- Carpeta y Archivo -->
          <div class="form-group mb-3">
            <!-- Archivo -->
            {{ form_recepcion.archivo.label(class='form-control-label mb-1') }}
            {% if form_recepcion.archivo.errors %}
              {{ form_recepcion.archivo(class='form-control form-control-lg is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form_recepcion.archivo.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form_recepcion.archivo(class='form-control form-control-lg')}}
            {% endif %}        
          </div>
          <!-- SD que recibe y Periodicidad -->
          <div class="row form-group mb-3">
            <!-- Subdirección -->
            <div class="col-lg-4">
              {{ form_recepcion.sd_recibe.label(class='form-control-label mb-1') }}
              {% if form_recepcion.sd_recibe.errors %}
                {{ form_recepcion.sd_recibe(class='form-control form-control-lg form-select is-invalid') }}
                <div class="invalid-feedback">
                  {% for error in form_recepcion.sd_recibe.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form_recepcion.sd_recibe(class='form-control form-control-lg form-select')}}
              {% endif %}
            </div>
            <!-- Periodicidad -->
            <div class="col-lg-8 form-group">
              <p class="form-control-label mb-1">Periodicidad de la recepción</p>
              <div class="row mb-0">
                <div class="col-lg-2"><p class="mb-0">En línea <input type="checkbox" name="periodicidad_checkbox" value="En línea"></p></div>
                <div class="col-lg-2"><p class="mb-0">Diario <input  type="checkbox" name="periodicidad_checkbox" value="Diario"></p></div>
                <div class="col-lg-2"><P class="mb-0">Semanal <input type="checkbox" name="periodicidad_checkbox" value="Semanal"></P></div>
                <div class="col-lg-2"><p class="mb-0">Mensual <input type="checkbox" name="periodicidad_checkbox" value="Mensual"></p></div>
              </div>
              <div class="row">
                <div class='col-lg-2'>
                  <p class="my-0">Ene <input type="checkbox" name="periodicidad_checkbox" value="1"></p>
                  <p class="my-0">Feb <input type="checkbox" name="periodicidad_checkbox" value="2"></p>
                  <p class="my-0">Mar <input type="checkbox" name="periodicidad_checkbox" value="3"></p>
                </div>
                <div class='col-lg-2'>
                  <p class="my-0">Abr <input type="checkbox" name="periodicidad_checkbox" value="4"></p>
                  <p class="my-0">May <input type="checkbox" name="periodicidad_checkbox" value="5"></p>
                  <p class="my-0">Jun <input type="checkbox" name="periodicidad_checkbox" value="6"></p>
                </div>
                <div class='col-lg-2'>
                  <p class="my-0">Jul <input type="checkbox" name="periodicidad_checkbox" value="7"></p>
                  <p class="my-0">Ago <input type="checkbox" name="periodicidad_checkbox" value="8"></p>
                  <p class="my-0">Sep <input type="checkbox" name="periodicidad_checkbox" value="9"></p>
                </div>
                <div class='col-lg-2'>
                  <p class="my-0">Oct <input type="checkbox" name="periodicidad_checkbox" value="10"></p>
                  <p class="my-0">Nov <input type="checkbox" name="periodicidad_checkbox" value="11"></p>
                  <p class="my-0">Dic <input type="checkbox" name="periodicidad_checkbox" value="12"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="px-1" align='right'>
            <button type=submit name="agregar_recepcion" class="btn btn-outline-success btn-sm float-end mb-2"><i class="fas fa-plus"></i></button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <!-- Formulario para agregar WS -->
  <div class="row border border-secondary rounded mb-3">
    <h2>Asignar Web Services</h2>
    <form class="" method="post" novalidate>
      <fieldset>
      <legend class="mb-2">
        <a style="text-decoration: none; color: #000;" data-bs-toggle="collapse"
        href="#informacionContribuyentes" aria-expanded="false" aria-controls="informacionContribuyentes">
        I. Información de contribuyentes <i class="fas fa-angle-down"></i></a></legend>
      <div class="content-section collapse" id="informacionContribuyentes">
        <!-- Web services -->
        {% for ws in ws_contribuyentes %}
        <div class="row ps-3 mb-2">
            <h5 class="mb-0">{{ ws.nombre_aiet }} <input type="checkbox" name="ws_checkbox" value='{{ ws.id_ws }}' {{ ws.asignado }}></h5>
            <small>
              {% if ws.observacion != "" %}
                <span class="text-danger">{{ ws.observacion }}</span><br>
              {% endif %}
              Nombre SDI: {{ws.nombre_sdi}} <br>
              Método: {{ ws.metodo }}<br>
              URL: {{ ws.url }}
            </small>
        </div>
        {% endfor %}
      </div>

      <legend class="mb-2">
        <a style="text-decoration: none; color: #000;" data-bs-toggle="collapse"
        href="#informacionEmpresas" aria-expanded="false" aria-controls="informacionEmpresas">
        II. Información tributaria <i class="fas fa-angle-down"></i></a></legend>
      <div class="content-section collapse" id="informacionEmpresas">
        <!-- Web services -->
        {% for ws in ws_tributaria %}
        <div class="row ps-3 mb-2">
            <h5 class="mb-0">{{ ws.nombre_aiet }} <input type="checkbox" name="ws_checkbox" value='{{ ws.id_ws }}' {{ ws.asignado }}></h5>
            <small>
              {% if ws.observacion != "" %}
                <span class="text-danger">{{ ws.observacion }}</span><br>
              {% endif %}
              Nombre SDI: {{ws.nombre_sdi}} <br>
              Método: {{ ws.metodo }}<br>
              URL: {{ ws.url }}
            </small>
        </div>
        {% endfor %}
      </div>

      <legend class="mb-2">
        <a style="text-decoration: none; color: #000;" data-bs-toggle="collapse"
        href="#informacionTributaria" aria-expanded="false" aria-controls="informacionTributaria">
        III. Información de bienes raíces <i class="fas fa-angle-down"></i></a></legend>
      <div class="content-section collapse" id="informacionTributaria">
        <!-- Web services -->
        {% for ws in ws_bbrr %}
        <div class="row ps-3 mb-2">
            <h5 class="mb-0">{{ ws.nombre_aiet }} <input type="checkbox" name="ws_checkbox" value='{{ ws.id_ws }}' {{ ws.asignado }}></h5>
            <small>
              {% if ws.observacion != "" %}
                <span class="text-danger">{{ ws.observacion }}</span><br>
              {% endif %}
              Nombre SDI: {{ws.nombre_sdi}} <br>
              Método: {{ ws.metodo }}<br>
              URL: {{ ws.url }}
            </small>
        </div>
        {% endfor %}
      </div>

      <legend class="mb-2">
        <a style="text-decoration: none; color: #000;" data-bs-toggle="collapse"
        href="#informacionBBRR" aria-expanded="false" aria-controls="informacionBBRR">
        IV. PISEE <i class="fas fa-angle-down"></i></a></legend>
      <div class="content-section collapse" id="informacionBBRR">
        <!-- Web services -->
        {% for ws in ws_pisee %}
        <div class="row ps-3 mb-2">
            <h5 class="mb-0">{{ ws.nombre_aiet }} <input type="checkbox" name="ws_checkbox" value='{{ ws.id_ws }}' {{ ws.asignado }}></h5>
            <small>
              {% if ws.observacion != "" %}
                <span class="text-danger">{{ ws.observacion }}</span><br>
              {% endif %}
              Nombre SDI: {{ws.nombre_sdi}} <br>
              Método: {{ ws.metodo }}<br>
              URL: {{ ws.url }}
            </small>
        </div>
        {% endfor %}
      </div>

      <legend class="mb-2">
        <a style="text-decoration: none; color: #000;" data-bs-toggle="collapse"
        href="#pisee" aria-expanded="false" aria-controls="pisee">
        V. No disponibles <i class="fas fa-angle-down"></i></a></legend>
      <div class="content-section collapse" id="pisee">
        <!-- Web services -->
        {% for ws in ws_no_disponibles %}
        <div class="row ps-3 mb-2">
            <h5 class="mb-0">{{ ws.nombre_aiet }} <input type="checkbox" name="ws_checkbox" value='{{ ws.id_ws }}' {{ ws.asignado }}></h5>
            <small>
              {% if ws.observacion != "" %}
                <span class="text-danger">{{ ws.observacion }}</span><br>
              {% endif %}
              Nombre SDI: {{ws.nombre_sdi}} <br>
              Método: {{ ws.metodo }}<br>
              URL: {{ ws.url }}
            </small>
        </div>
        {% endfor %}
      </div>
      <div class="px-1" align='right'>
        <button type=submit name="asignar_ws" class="btn btn-outline-success btn-sm float-end mb-2"><i class="fas fa-sync-alt"></i></button>
      </div>
    </fieldset>
  </form>
  </div>

</div>

<!-- Modal borrar hito-->
<div class="modal" id="borrarHitoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        ¿Desea eliminar este hito?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        <a class="btn btn-danger btn-ok">Eliminar</a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#borrarHitoModal').on('show.bs.modal', function(e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
});
</script>


<!-- Modal editar recepcion-->
<div class="modal" id="editarRecepcionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="POST" novalidate>
        <fieldset>
          {{ editar_recepcion_form.hidden_tag() }}
          {{ editar_recepcion_form.id_recepcion_editar }}
          <div class="modal-header">
            ¿Desea eliminar este hito?
          </div>
          <div class="modal-body">
            <!-- Nombre de la recepción -->
            <div class="form-group mb-3">
              {{ editar_recepcion_form.nombre_editar.label(class='form-control-label mb-1') }}
              {% if editar_recepcion_form.nombre_editar.errors %}
                {{ editar_recepcion_form.nombre_editar(class='form-control form-control-sm is-invalid') }}
                <div class="invalid-feedback">
                  {% for error in editar_recepcion_form.nombre_editar.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ editar_recepcion_form.nombre_editar(class='form-control form-control-sm')}}
              {% endif %}
            </div>
            <!-- Carpeta y Archivo -->
            <div class="row form-group mb-3">
              <!-- Carpeta -->
              <div class="col-lg-6">
                {{ editar_recepcion_form.carpeta_editar.label(class='form-control-label mb-1') }}
                {% if editar_recepcion_form.carpeta_editar.errors %}
                  {{ editar_recepcion_form.carpeta_editar(clas='form-control form-control-sm is-invalid') }}
                  <div class="invalid-feedback">
                    {% for error in editar_recepcion_form.carpeta_editar.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ editar_recepcion_form.carpeta_editar(class='form-control form-control-sm')}}
                {% endif %}
              </div>
              <!-- Archivo -->
              <div class="col-lg-6">
                {{ editar_recepcion_form.archivo_editar.label(class='form-control-label mb-1') }}
                {% if editar_recepcion_form.archivo_editar.errors %}
                  {{ editar_recepcion_form.archivo_editar(class='form-control form-control-sm is-invalid') }}
                  <div class="invalid-feedback">
                    {% for error in editar_recepcion_form.archivo_editar.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ editar_recepcion_form.archivo_editar(class='form-control form-control-sm')}}
                {% endif %}
              </div>
            </div>
            <!-- SD que recibe y Periodicidad -->
            <div class="row form-group mb-3">
              <!-- Subdirección -->
              <div class="col-lg-4">
                {{ editar_recepcion_form.sd_recibe_editar.label(class='form-control-label mb-1') }}
                {% if editar_recepcion_form.sd_recibe_editar.errors %}
                  {{ editar_recepcion_form.sd_recibe_editar(class='form-control form-control-sm form-select is-invalid') }}
                  <div class="invalid-feedback">
                    {% for error in editar_recepcion_form.sd_recibe_editar.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ editar_recepcion_form.sd_recibe_editar(class='form-control form-control-sm form-select')}}
                {% endif %}
              </div>
              <!-- Periodicidad -->
              <div class="col-lg-8 form-group">
                <p class="form-control-label mb-1">Periodicidad de la recepción</p>
                <div class="row mb-0">
                  <div class="col-lg-2"><p class="mb-0">Online <input type="checkbox" name="editarPeriodicidad_checkbox" value="En línea"></p></div>
                  <div class="col-lg-2"><p class="mb-0">Día <input  type="checkbox" name="editarPeriodicidad_checkbox" value="Diario"></p></div>
                  <div class="col-lg-2"><P class="mb-0">Sem <input type="checkbox" name="editarPeriodicidad_checkbox" value="Semanal"></P></div>
                  <div class="col-lg-2"><p class="mb-0">Mes <input type="checkbox" name="editarPeriodicidad_checkbox" value="Mensual"></p></div>
                </div>
                <div class="row">
                  <div class='col-lg-2'>
                    <p class="my-0">Ene <input type="checkbox" name="editarPeriodicidad_checkbox" value="1"></p>
                    <p class="my-0">Feb <input type="checkbox" name="editarPeriodicidad_checkbox" value="2"></p>
                    <p class="my-0">Mar <input type="checkbox" name="editarPeriodicidad_checkbox" value="3"></p>
                  </div>
                  <div class='col-lg-2'>
                    <p class="my-0">Abr <input type="checkbox" name="editarPeriodicidad_checkbox" value="4"></p>
                    <p class="my-0">May <input type="checkbox" name="editarPeriodicidad_checkbox" value="5"></p>
                    <p class="my-0">Jun <input type="checkbox" name="editarPeriodicidad_checkbox" value="6"></p>
                  </div>
                  <div class='col-lg-2'>
                    <p class="my-0">Jul <input type="checkbox" name="editarPeriodicidad_checkbox" value="7"></p>
                    <p class="my-0">Ago <input type="checkbox" name="editarPeriodicidad_checkbox" value="8"></p>
                    <p class="my-0">Sep <input type="checkbox" name="editarPeriodicidad_checkbox" value="9"></p>
                  </div>
                  <div class='col-lg-2'>
                    <p class="my-0">Oct <input type="checkbox" name="editarPeriodicidad_checkbox" value="10"></p>
                    <p class="my-0">Nov <input type="checkbox" name="editarPeriodicidad_checkbox" value="11"></p>
                    <p class="my-0">Dic <input type="checkbox" name="editarPeriodicidad_checkbox" value="12"></p>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Volver</button>
            <button type="submit" name="editar_recepcion" class="btn btn-outline-success btn-sm float-end ">Editar</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#editarRecepcionModal').on('show.bs.modal', function(e) {
    const id_editar = $(e.relatedTarget).data('href');
    fetch(Flask.url_for('bitacoras.obtener_info_recepcion', {'id_recepcion': id_editar}))
    .then(response => response.json())
    .then(data => {
      $('#id_recepcion_editar').val(data.id_recepcion);
      $('#nombre_editar').val(data.nombre);
      $('#carpeta_editar').val(data.carpeta);
      $('#archivo_editar').val(data.archivo);

      var select = $("#sd_recibe_editar");
      select.empty();
      $.each(data.choices_sd, function(key, value) {
        select.append($("<option></option>")
          .attr("value", value).text(key));
      });
      select.val(data.sd);

      var checkboxes = $("input[name='editarPeriodicidad_checkbox']");
      checkboxes.each(function() {
        if (jQuery.inArray($(this).val(), data.periodo) > -1){
          $(this).prop('checked', true);
        }
        else {
          $(this).prop('checked', false);
        }
      });

    });
});
</script>


<script type="text/javascript">
  
  document.addEventListener('DOMContentLoaded', function() {
    // Marcar convenio seleccionado en el select
    convenio.value = {{ id_convenio }};
    // Asignar número de proyecto
    {% if info_convenio.proyecto %}
      document.querySelector('#proyecto').value = '{{ info_convenio.proyecto}}';
    {% endif %}


  });

  // Cambiar fecha si se cambia de etapa o área
  $('#etapa').change(function() {
    const hoy = new Date().toJSON().slice(0, 10);
    $('#fecha_etapa').val(hoy);
    $('#fecha_etapa').focus();
  });

  $('#equipo_1').change(function() {
    const hoy = new Date().toJSON().slice(0, 10);
    $('#fecha_equipo_1').val(hoy);
    $('#fecha_equipo_1').focus();
  });

  $('#equipo_2').change(function() {
    const hoy = new Date().toJSON().slice(0, 10);
    $('#fecha_equipo_2').val(hoy);
    $('#fecha_equipo_2').focus();
  });

  $('#equipo_3').change(function() {
    const hoy = new Date().toJSON().slice(0, 10);
    $('#fecha_equipo_3').val(hoy);
    $('#fecha_equipo_3').focus();
  });

  $('#equipo_4').change(function() {
    const hoy = new Date().toJSON().slice(0, 10);
    $('#fecha_equipo_4').val(hoy);
    $('#fecha_equipo_4').focus();
  });

  // Ir a bitácora del convenio cuando se seleccione uno
  const convenio = document.querySelector('#convenio');
  convenio.addEventListener('change', function(e) {
    // Ir a la página del convenio
    window.location.replace(Flask.url_for('bitacoras.bitacora_convenio', {'id_convenio': convenio.value}));
  });

  // Desactivar formulario si el convenio está finalizado
  $(document).ready(function(){
    if ($("#etapa").val() == 5){
      // Mostrar estado
      var estado = 'Finalizado: ' + '{{ info_convenio.estado }}';
      $('#etapa option:selected').text(estado);

      // Desactivar botones
      $('button[name="informacion_convenio"]').prop('disabled', true);
      $('#etapa').prop('disabled', true);
      $('#fecha_etapa').prop('disabled', true);
      $('#equipo_1').prop('disabled', true);
      $('#equipo_2').prop('disabled', true);
      $('#equipo_3').prop('disabled', true);
      $('#equipo_4').prop('disabled', true);
      $('#fecha_equipo_1').prop('disabled', true);
      $('#fecha_equipo_2').prop('disabled', true);
      $('#fecha_equipo_3').prop('disabled', true);
      $('#fecha_equipo_4').prop('disabled', true);
      $('#fecha_firma_documento').prop('disabled', true);
      $('#fecha_firma_resolucion').prop('disabled', true);
      $('#nro_resolucion').prop('disabled', true);
      $('#proyecto').prop('disabled', true);
      $('#gabinete_electronico').prop('disabled', true);
      $('#link_resolucion').prop('disabled', true);
      $('#link_project').prop('disabled', true);
      $("#link_protocolo").prop('disabled', true);
      $('#link_repositorio').prop('disabled', true);
      $('#nuevo_hito').prop('disabled', true);

      
    }
  });
</script>


{% endblock content %}
