{% extends 'layout.html' %}
{% block content %}
{{ JSGlue.include() }}
<script src='{{ url_for("static", filename="script.js") }}'></script>
<script type="text/javascript">
  changeActive('#bitacoraConvenio')
</script>

<div class="content-section mx-4">
  <!-- Select Convenio -->
  <select autofocus class="form-control form-control-lg form-select mb-5" id="convenio" name="convenio">
    {% for convenio in convenios %}
      <option value="{{ convenio[0] }}">{{ convenio[1] }}</option>
    {% endfor %}
  </select>

  <!-- Información de convenio -->
  <div class="row border border-secondary rounded mb-4">
  <form class="" id='formInfo' method="post" novalidate>
    <fieldset>
      {{ form_info.hidden_tag() }}
      <!-- Primera fila -->
      <div class="row mb-3 border-bottom pb-2">
        <!-- Días en proceso -->
        <div class="col-lg-3">
          <div class="row py-2">
            <h5>Días en proceso</h5>
          </div>
          <div class="row">
            <h5 class=""><i class="fas fa-stopwatch"></i>   {{ info_convenio.dias_proceso }}</h5>
          </div>
        </div>
        <!-- Etapa actual -->
        <div class="col-lg-5">
          <div class="row mb-2 pt-2">
            {% if form_info.etapa.errors %}
              {{ form_info.etapa(class='form-control form-control-lg form-select is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form_info.etapa.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form_info.etapa(class="form-control form-control-lg form-select") }}
            {% endif %}
          </div>
          <div class="row">
            <div class="col-lg-6 ps-0 pe-4">
              {% if form_info.fecha_etapa.errors %}
                {{ form_info.fecha_etapa(class='datepicker form-control form-control-sm is-invalid mb-1') }}
                <div class="invalid-feedback">
                  {% for error in form_info.fecha_etapa.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form_info.fecha_etapa(class="datepicker form-control form-control-sm mb-1") }}
              {% endif %}
            </div>
            <div class="col-lg-6 ps-0">
              <h5><i class="fas fa-stopwatch"></i>   {{ info_convenio.dias_etapa }}</h5>
            </div>
          </div>
        </div>
        <!-- Coordinador y suplente -->
        <div class="col-lg-4">
          <div class='row'>
            <div class="col-lg-3">
              <h1 class="ps-2"><i class="fas fa-user-friends"></i></h1>
            </div>
            <div class="col-lg-7">
              <div class="row">
                {{  info_convenio.coord }}
              </div>
              <div class='row'>
                {{ info_convenio.sup }}
              </div>
            </div>
            <div class="col-lg-1">
              <a class="text-center" style="text-decoration: none; color: #000;" href="{{ url_for('informes.detalle_convenio_en_proceso', id_convenio=id_convenio) }}"><i class="fas fa-search btn-lg"></i></a>
            </div>
          </div>

        </div>
      </div>
      <!-- Segunda fila -->
      <div class="row mb-3 border-bottom pb-2">
        <!-- Equipo 1 -->
        <div class="col-lg-3 ps-3">
          <div class="row mb-2">
            {% if form_info.equipo_1.errors %}
              {{ form_info.equipo_1(class='form-control form-control-lg form-select is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form_info.equipo_1.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form_info.equipo_1(class="form-control form-control-lg form-select") }}
            {% endif %}
          </div>
          <div class="row">
            <div class="col-lg-9 ps-0 pe-4">
              {% if form_info.fecha_equipo_1.errors %}
                {{ form_info.fecha_equipo_1(class='datepicker form-control form-control-sm is-invalid mb-1') }}
                <div class="invalid-feedback">
                  {% for error in form_info.fecha_equipo_1.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form_info.fecha_equipo_1(class="datepicker form-control form-control-sm mb-1") }}
              {% endif %}
            </div>
            <div class="col-lg-3 ps-0">
              <h5><i class="fas fa-stopwatch"></i>   {{ info_convenio.equipos[0].dias_equipo }}</h5>
            </div>
          </div>
        </div>
        <!-- Equipo 2 -->
        <div class="col-lg-3 ps-3">
          <div class="row mb-2">
            {% if form_info.equipo_2.errors %}
              {{ form_info.equipo_2(class='form-control form-control-lg form-select is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form_info.equipo_2.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form_info.equipo_2(class="form-control form-control-lg form-select") }}
            {% endif %}
          </div>
          <div class="row">
            <div class="col-lg-9 ps-0 pe-4">
              {% if form_info.fecha_equipo_2.errors %}
                {{ form_info.fecha_equipo_2(class='datepicker form-control form-control-sm is-invalid mb-1') }}
                <div class="invalid-feedback">
                  {% for error in form_info.fecha_equipo_2.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form_info.fecha_equipo_2(class="datepicker form-control form-control-sm mb-1") }}
              {% endif %}
            </div>
            <div class="col-lg-3 ps-0">
              <h5><i class="fas fa-stopwatch"></i>   {{ info_convenio.equipos[1].dias_equipo }}</h5>
            </div>
          </div>
        </div>
        <!-- Equipo 3 -->
        <div class="col-lg-3 ps-3">
          <div class="row mb-2">
            {% if form_info.equipo_3.errors %}
              {{ form_info.equipo_3(class='form-control form-control-lg form-select is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form_info.equipo_3.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form_info.equipo_3(class="form-control form-control-lg form-select") }}
            {% endif %}
          </div>
          <div class="row">
            <div class="col-lg-9 ps-0 pe-4">
              {% if form_info.fecha_equipo_3.errors %}
                {{ form_info.fecha_equipo_3(class='datepicker form-control form-control-sm is-invalid mb-1') }}
                <div class="invalid-feedback">
                  {% for error in form_info.fecha_equipo_3.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form_info.fecha_equipo_3(class="datepicker form-control form-control-sm mb-1") }}
              {% endif %}
            </div>
            <div class="col-lg-3 ps-0">
              <h5><i class="fas fa-stopwatch"></i>   {{ info_convenio.equipos[2].dias_equipo }}</h5>
            </div>
          </div>
        </div>
        <!-- Equipo 4 -->
        <div class="col-lg-3 ps-3">
          <div class="row mb-2 pe-1">
            {% if form_info.equipo_4.errors %}
              {{ form_info.equipo_4(class='form-control form-control-lg form-select is-invalid') }}
              <div class="invalid-feedback">
                {% for error in form_info.equipo_4.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form_info.equipo_4(class="form-control form-control-lg form-select") }}
            {% endif %}
          </div>
          <div class="row">
            <div class="col-lg-9 ps-0 pe-4">
              {% if form_info.fecha_equipo_4.errors %}
                {{ form_info.fecha_equipo_4(class='datepicker form-control form-control-sm is-invalid mb-1') }}
                <div class="invalid-feedback">
                  {% for error in form_info.fecha_equipo_4.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form_info.fecha_equipo_4(class="datepicker form-control form-control-sm mb-1") }}
              {% endif %}
            </div>
            <div class="col-lg-3 ps-0">
              <h5><i class="fas fa-stopwatch"></i>   {{ info_convenio.equipos[3].dias_equipo }}</h5>
            </div>
          </div>
        </div>
      </div>

      <!-- Tercera fila -->
      <div class="row mb-3 border-bottom pb-2">
        <!-- Documento -->
        <div class="col-lg-3">
          <div class='row ps-2'>
            {{ form_info.fecha_firma_documento.label(class='form-control-label mb-1 ps-0') }}
            {% if form_info.fecha_firma_documento.errors %}
              {{ form_info.fecha_firma_documento(class='datepicker form-control form-control-sm is-invalid mb-1') }}
              <div class="invalid-feedback">
                {% for error in form_info.fecha_firma_documento.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form_info.fecha_firma_documento(class="datepicker form-control form-control-sm mb-1") }}
            {% endif %}
          </div>
        </div>
        <!-- Resolución -->
        <div class="col-lg-9 ps-3">
          <div class='row'>
            <div class="col-lg-3">
              {{ form_info.fecha_firma_resolucion.label(class='form-control-label mb-1') }}
              {% if form_info.fecha_firma_resolucion.errors %}
                {{ form_info.fecha_firma_resolucion(class='datepicker form-control form-control-sm is-invalid mb-1') }}
                <div class="invalid-feedback">
                  {% for error in form_info.fecha_firma_resolucion.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form_info.fecha_firma_resolucion(class="datepicker form-control form-control-sm mb-1") }}
              {% endif %}
            </div>
            <div class="col-lg-3">
              <!-- Número de resolución -->
              {{ form_info.nro_resolucion.label(class='form-control-label mb-1') }}
              {% if form_info.nro_resolucion.errors %}
                {{ form_info.nro_resolucion(class='form-control form-control-sm is-invalid') }}
                <div class="invalid-feedback">
                  {% for error in form_info.nro_resolucion.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form_info.nro_resolucion(class="form-control form-control-sm") }}
              {% endif %}
            </div>
            <div class="col-lg-6 pt-4">
              <!-- Link a resolución en intranet -->
              {% if info_convenio.link_resolucion != "" %}
                <a target="_blank" style='color: #000; text-decoration: none;' href="{{ info_convenio.link_resolucion }}"><i class="fas fa-eye ps-0 pe-1 btn-sm"></i>Ver resolución en intranet</a>
              {% else %}
                {% if form_info.link_resolucion.errors %}
                  {{ form_info.link_resolucion(class='form-control form-control-sm is-invalid') }}
                  <div class="invalid-feedback">
                    {% for error in form_info.link_resolucion.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form_info.link_resolucion(class="form-control form-control-sm") }}
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>


      <button type=submit name='informacion_convenio' class="btn btn-outline-success btn-sm float-end mb-2"><i class="fas fa-sync-alt"></i></button>
    </fieldset>
  </form>
  </div>

  <div class="row">
      <div class="col-lg-6 border border-secondary rounded mb-3" id=bitacoraAnalista>
        <!-- Formulario bitácora analista -->
        <div class="">
            <h2>Bitácora</h2>
          <form id='formNuevo' method="post" novalidate>
            {{ form_nuevo.hidden_tag() }}
            <fieldset>
              <div class="row form-group mb-3">
                  <div class="col-lg-5">
                    <!-- Fecha -->
                    {% if form_nuevo.fecha.errors %}
                      {{ form_nuevo.fecha(class='datepicker form-control is-invalid mb-1') }}
                      <div class="invalid-feedback">
                        {% for error in form_nuevo.fecha.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form_nuevo.fecha(class="datepicker form-control mb-1") }}
                    {% endif %}
                  </div>
                  <div class="col-lg-6 ps-0">
                    <!-- Observación -->
                    {% if form_nuevo.observacion.errors %}
                      {{ form_nuevo.observacion(class='form-control form-control is-invalid mb-1') }}
                      <div class="invalid-feedback">
                        {% for error in form_nuevo.observacion.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form_nuevo.observacion(class="form-control form-control mb-1") }}
                    {% endif %}
                  </div>
                  <div class="col-lg-1 px-1">
                    <button type=submit name="bitacora_analista" class="btn btn-outline-success btn-sm mb-1"><i class="fas fa-plus"></i></button>
                  </div>
              </div>
            </fieldset>
          </form>
        </div>
        <!-- Registros bitácora analista-->
        <div class="scroll me-0 pe-0">
          <table class='table table-striped'>
            <tbody>
              {% for registro in bitacora_analista %}
              <tr>
                <td style="width: 100px;">{{ registro[1] }}</td>
                <td>{{ registro[0] }}</td>
                <td><a class="text-dark" href="{{ url_for('bitacoras.borrar_bitacora_analista', id_comentario=registro[2], id_convenio=id_convenio) }}"><i class="fas fa-times"></i></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-lg-6 border border-secondary rounded mb-3" id=bitacoraTareas>
        <!-- Formulario bitácora tareas -->
        <div class="">
            <h2>Tareas</h2>
          <form id='formTarea' method="post" novalidate>
            {{ form_tarea.hidden_tag() }}
            <fieldset>
              <div class="row form-group mb-3">
                  <div class="col-lg-5">
                    <!-- Fecha -->
                    {% if form_tarea.plazo.errors %}
                      {{ form_tarea.plazo(class='datepicker form-control is-invalid mb-1') }}
                      <div class="invalid-feedback">
                        {% for error in form_tarea.plazo.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form_tarea.plazo(class="datepicker form-control mb-1") }}
                    {% endif %}
                  </div>
                  <div class="col-lg-6 ps-0">
                    <!-- Observación -->
                    {% if form_tarea.tarea.errors %}
                      {{ form_tarea.tarea(class='form-control form-control is-invalid mb-1') }}
                      <div class="invalid-feedback">
                        {% for error in form_tarea.tarea.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form_tarea.tarea(class="form-control form-control mb-1") }}
                    {% endif %}
                  </div>
                  <div class="col-lg-1 px-1">
                    <button type=submit name="nueva_tarea" class="btn btn-outline-success btn-sm mb-1"><i class="fas fa-plus"></i></button>
                  </div>
              </div>
            </fieldset>
          </form>
        </div>
        <!-- Tareas pendientes-->
        <div class="scroll me-0 pe-0">
          <table class='table table-striped'>
            <tbody>
              {% for tarea in tareas_pendientes %}
                {% if tarea[1] <= hoy %}
                  <tr>
                    <td class='text-danger' style="width: 100px;">{{ tarea[1] }}</td>
                    <td class='text-danger'>{{ tarea[0] }}</td>
                    <td style="width: 60px;">
                      <a class="text-dark float-end mx-1" href="{{ url_for('bitacoras.completar_tarea', id_tarea=tarea[2], id_convenio=id_convenio, id_persona=0) }}"><i class="fas fa-check"></i></a>
                      <a class="text-dark float-end mx-1" href="{{ url_for('bitacoras.borrar_tarea', id_tarea=tarea[2], id_convenio=id_convenio, id_persona=0) }}"><i class="fas fa-times"></i></a>
                    </td>
                  </tr>
                {% else %}
                  <tr>
                    <td style="width: 100px;">{{ tarea[1] }}</td>
                    <td>{{ tarea[0] }}</td>
                    <td style="width: 60px;">
                      <a class="text-dark float-end mx-1" href="{{ url_for('bitacoras.completar_tarea', id_tarea=tarea[2], id_convenio=id_convenio, id_persona=0) }}"><i class="fas fa-check"></i></a>
                      <a class="text-dark float-end mx-1" href="{{ url_for('bitacoras.borrar_tarea', id_tarea=tarea[2], id_convenio=id_convenio, id_persona=0) }}"><i class="fas fa-times"></i></a>
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  </div>


</div>

<script type="text/javascript">
  // Marcar convenio seleccionado en el select
  document.addEventListener('DOMContentLoaded', function() {
    convenio.value = {{ id_convenio }};
  });

  // Ir a bitácora del convenio cuando se seleccione uno
  const convenio = document.querySelector('#convenio');
  convenio.addEventListener('change', function(e) {
    // Ir a la página del convenio
    window.location.replace(Flask.url_for('bitacoras.bitacora_convenio', {'id_convenio': convenio.value}));
  });

  // Desactivar formulario si el convenio está finalizado
  $(document).ready(function(){
    if ($("#etapa").val() == 5){
      $('button[name="informacion_convenio"]').prop('disabled', true);
      $('#etapa').prop('disabled', true);
      $('#fecha_etapa').prop('disabled', true);
      $('#equipo_1').prop('disabled', true);
      $('#equipo_2').prop('disabled', true);
      $('#equipo_3').prop('disabled', true);
      $('#equipo_4').prop('disabled', true);
      $('#fecha_equipo_1').prop('disabled', true);
      $('#fecha_equipo_2').prop('disabled', true);
      $('#fecha_equipo_3').prop('disabled', true);
      $('#fecha_equipo_4').prop('disabled', true);
      $('#fecha_firma_documento').prop('disabled', true);
      $('#fecha_firma_resolucion').prop('disabled', true);
      $('#nro_resolucion').prop('disabled', true);
      $('#link_resolucion').prop('disabled', true);
    }
  });
</script>


{% endblock content %}
