{% extends 'layout.html' %}
{% block content %}
{{ JSGlue.include() }}
<script src='{{ url_for("static", filename="script.js") }}'></script>
<script type="text/javascript">
  changeActive('#nuevoConvenio')
</script>

<div class="content-section mx-4">
  <!-- Select Convenios -->
  <select autofocus class="form-control form-control-lg form-select mb-5" id="convenio" name="convenio">
    {% for convenio in convenios %}
      <option value="{{ convenio[0] }}">{{ convenio[1] }}</option>
    {% endfor %}
  </select>

  <!-- Formulario Nuevo convenio -->
  <form id="formConvenio" method="POST" action='/nuevo_convenio' novalidate>
    {{ form_convenio.hidden_tag() }}
    <fieldset>
      <div class="row form-group mb-3">
        <!-- Legenda -->
        <div class="col-lg-8">
          <legend>
            Agregar nuevo convenio
          </legend>
        </div>
        <!-- Botón eliminar convenio
        <div class="col-lg-4">
          <a id="btn-eliminar" class="eliminar-btn float-end" href="#" style='display: none'>
            <i class="fas fa-trash-alt"></i>
          </a>
        </div>
      </div> -->

      <!-- Institución -->
      <div class="form-group mb-4">
        {{ form_convenio.institucion.label(class='form-control-label mb-1') }}
        {% if form_convenio.institucion.errors %}
          {{ form_convenio.institucion(class='form-control form-control-lg form-select is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form_convenio.institucion.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form_convenio.institucion(class="form-control form-control-lg form-select") }}
        {% endif %}
      </div>
      <!-- Nombre -->
      <div class="form-group mb-3">
        {{ form_convenio.nombre.label(class='form-control-label mb-1') }}
        {% if form_convenio.nombre.errors %}
          {{ form_convenio.nombre(class='form-control form-control-lg is-invalid') }}
          <div class="invalid-feedback">
            {% for error in form_convenio.nombre.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form_convenio.nombre(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="row form-group mb-3">
        <!-- Tipo de documento -->
        <div class="col-lg-4">
          {{ form_convenio.tipo.label(class='form-control-label mb-1') }}
          {% if form_convenio.tipo.errors %}
            {{ form_convenio.tipo(class='form-control form-control-lg form-select is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form_convenio.tipo.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form_convenio.tipo(class="form-control form-control-lg form-select") }}
          {% endif %}
        </div>
        <!-- Documento padre del adendum -->
        <div id='convenioPadre' class="col-lg-8" style='display: none'>
          {{ form_convenio.convenio_padre.label(class='form-control-label mb-1') }}
          {% if form_convenio.convenio_padre.errors %}
            {{ form_convenio.convenio_padre(class='form-control form-control-lg form-select is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form_convenio.convenio_padre.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form_convenio.convenio_padre(class="form-control form-control-lg form-select") }}
          {% endif %}
        </div>
      </div>
      <div class="row form-group mb-3">
        <!-- Coordinador SII -->
        <div class="col-lg-4">
          {{ form_convenio.coord_sii.label(class='form-control-label mb-1') }}
          {% if form_convenio.coord_sii.errors %}
            {{ form_convenio.coord_sii(class='form-control form-control-lg form-select is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form_convenio.coord_sii.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form_convenio.coord_sii(class="form-control form-control-lg form-select") }}
          {% endif %}
        </div>
        <!-- Suplente SII -->
        <div class="col-lg-4">
          {{ form_convenio.sup_sii.label(class='form-control-label mb-1') }}
          {% if form_convenio.sup_sii.errors %}
            {{ form_convenio.sup_sii(class='form-control form-control-lg form-select is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form_convenio.sup_sii.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form_convenio.sup_sii(class="form-control form-control-lg form-select") }}
          {% endif %}
        </div>
      </div>
      <div class="row form-group mb-3">
        <!-- Coordinador IE -->
        <div class="col-lg-4">
          {{ form_convenio.coord_ie.label(class='form-control-label mb-1') }}
          {% if form_convenio.coord_ie.errors %}
            {{ form_convenio.coord_ie(class='form-control form-control-lg form-select is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form_convenio.coord_ie.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form_convenio.coord_ie(class="form-control form-control-lg form-select") }}
          {% endif %}
        </div>
        <!-- Suplente IE -->
        <div class="col-lg-4">
          {{ form_convenio.sup_ie.label(class='form-control-label mb-1') }}
          {% if form_convenio.sup_ie.errors %}
            {{ form_convenio.sup_ie(class='form-control form-control-lg form-select is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form_convenio.sup_ie.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form_convenio.sup_ie(class="form-control form-control-lg form-select") }}
          {% endif %}
        </div>
        <!-- Responsable IE -->
        <div class="col-lg-4">
          {{ form_convenio.responsable_convenio_ie.label(class='form-control-label mb-1') }}
          {% if form_convenio.responsable_convenio_ie.errors %}
            {{ form_convenio.responsable_convenio_ie(class='form-control form-control-lg form-select is-invalid') }}
            <div class="invalid-feedback">
              {% for error in form_convenio.responsable_convenio_ie.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form_convenio.responsable_convenio_ie(class="form-control form-control-lg form-select") }}
          {% endif %}
        </div>
      </div>
      <!-- Subdirecciones involucradas -->
      <p class='form-control-label mb-1'>Subidrecciones involucradas en el convenio</p>
      <div class="form-group mb-4 row border gray rounded ms-2 ps-0">
        <div class="col-lg-3 text-dark">
          <p class='mb-1'>DGC <input type="checkbox" name="sd_checkbox" value="10"></p>
          <p class='mb-1'>SDA <input type="checkbox" name="sd_checkbox" value="11"></p>
          <p class='mb-1'>SDAC <input type="checkbox" name="sd_checkbox" value="3"></p>
        </div>
        <div class="col-lg-3 text-dark">
          <p class='mb-1'>SDACORP <input type="checkbox" name="sd_checkbox" value="12"></p>
          <p class='mb-1'>SDAV <input type="checkbox" name="sd_checkbox" value="4"></p>
          <p class='mb-1'>SDDP <input type="checkbox" name="sd_checkbox" value="13"></p>
        </div>
        <div class="col-lg-3 text-dark">
          <p class='mb-1'>SDF <input type="checkbox" name="sd_checkbox" value="5"></p>
          <p class='mb-1'>SDGEET <input type="checkbox" name="sd_checkbox" value="6"></p>
          <p class='mb-1'>SDI <input type="checkbox" name="sd_checkbox" value="7"></p>
        </div>
        <div class="col-lg-3 text-dark">
          <p class='mb-1'>SDJ <input type="checkbox" name="sd_checkbox" value="8"></p>
          <p class='mb-1'>SDN <input type="checkbox" name="sd_checkbox" value="14"></p>
        </div>
      </div>
    </fieldset>
    {{ form_convenio.submit(class="btn btn-outline-primary float-end mb-5") }}
  </form>
  </div>



<script type="text/javascript">

  // Redireccionar cuando se seleccione convenio a editar
  const convenio = document.querySelector('#convenio');
  convenio.addEventListener('change', function(e) {
    // Ir a la página del convenio
    window.location.replace(Flask.url_for('bitacoras.editar_convenio', {'id_convenio': convenio.value}));
  });

  const institucion = document.querySelector('#institucion');
  const tipoDocumento = document.querySelector('#tipo');
  const convenioPadre = document.querySelector('#convenioPadre');
  // Opción 0 del field convenio padre
  const convenio_padre_0 = document.createElement('option');
  convenio_padre_0.value = 0;
  convenio_padre_0.innerHTML = 'Seleccione una institución para ver los convenios';
  const select_convenio_padre = document.querySelector('#convenio_padre');


  // Cuando se selecciona Adendum en el tipo de documento
  tipoDocumento.addEventListener('change', function(e) {
    if (tipoDocumento.value === 'Adendum'){
      // Mostrar field con convenio padre (los convenios se agregan en otro EventListener)
      convenioPadre.style.display = 'block';
    }
    else {
      convenioPadre.style.display = 'none';
      document.querySelector('#convenio_padre').value = 0;

    }});

  // Llenar select personas IE cuando se selecciona institución y cargar los convenios (padre) de esa institución
    institucion.addEventListener('change', function(e) {

      // Añadir los convenios en el select de convenio padre
      if (institucion.value === 0) {
        // Borrar todos los convenios y dejar solo opcion 0
        var convenio_padre_options = document.querySelectorAll("#convenio_padre option");
        for (option in convenio_padre_options) {
          select_convenio_padre.remove(convenio_padre_options[option]);
        }
        select_convenio_padre.appendChild(convenio_padre_0);
        document.querySelector('#convenio_padre').value = 0;
      }
      else {
        // Borrar todos los convenios y dejar solo opcion 0
        var convenio_padre_options = document.querySelectorAll("#convenio_padre option");
        for (option in convenio_padre_options) {
          select_convenio_padre.remove(convenio_padre_options[option]);
        }
        select_convenio_padre.appendChild(convenio_padre_0);
        document.querySelector('#convenio_padre').value = 0;
        // Agregar los convenios en proceso y en producción de la institucion
        fetch(Flask.url_for('bitacoras.obtener_convenios_institucion', {'id_institucion': institucion.value}))
        .then(response => response.json())
        .then(data => {
          for (convenio_padre in data) {
            var opt = document.createElement('option');
            opt.value = data[convenio_padre].id;
            opt.innerHTML = data[convenio_padre].nombre;
            select_convenio_padre.appendChild(opt);

          }
        });}

      fetch(Flask.url_for('bitacoras.obtener_personas_ie', {'id_institucion': institucion.value}))
      .then(response => response.json())
      .then(data => {
        // COORDINADOR IE
        const select_coord_ie = document.createElement('option');
        select_coord_ie.value = 0;
        select_coord_ie.innerHTML = 'Seleccionar';
        var coord_ie = document.querySelector('#coord_ie');
        // Borrar las opciones del select field
        var coord_ie_options = document.querySelectorAll('#coord_ie option');
        for (option in coord_ie_options) {
          coord_ie.remove(coord_ie_options[option]);
        }
        // Llenar lista con personas de la IE
        coord_ie.appendChild(select_coord_ie);
        for (persona in data) {
          var opt = document.createElement('option');
          opt.value = data[persona].id;
          opt.innerHTML = data[persona].nombre;
          coord_ie.appendChild(opt);
        }

        // SUPLENTE IE
        const select_sup_ie = document.createElement('option');
        select_sup_ie.value = 0;
        select_sup_ie.innerHTML = 'Seleccionar';
        const sup_ie = document.querySelector('#sup_ie');
        // Borrar las opciones del select field
        var sup_ie_options = document.querySelectorAll('#sup_ie option');
        for (option in sup_ie_options) {
          sup_ie.remove(sup_ie_options[option]);
        }
        // Llenar lista con personas de la IE
        sup_ie.appendChild(select_sup_ie);
        for (persona in data) {
          var opt = document.createElement('option');
          opt.value = data[persona].id;
          opt.innerHTML = data[persona].nombre;
          sup_ie.appendChild(opt);
        }

        // Responsable IE
        const select_resp_ie = document.createElement('option');
        select_resp_ie.value = 0;
        select_resp_ie.innerHTML = 'Seleccionar';
        const responsable_convenio_ie = document.querySelector('#responsable_convenio_ie');
        // Borrar las opciones del select field
        var responsable_convenio_ie_options = document.querySelectorAll('#responsable_convenio_ie option');
        for (option in responsable_convenio_ie_options) {
          responsable_convenio_ie.remove(responsable_convenio_ie_options[option]);
        }
        // Llenar lista con personas de la IE
        responsable_convenio_ie.appendChild(select_resp_ie);
        for (persona in data) {
          var opt = document.createElement('option');
          opt.value = data[persona].id;
          opt.innerHTML = data[persona].nombre;
          responsable_convenio_ie.appendChild(opt);
        }})});

</script>


{% endblock content %}
